
script(type="text/javascript" src="js/jquery.js")
script(type="text/javascript" src="js/vendor.js")
script(type="text/javascript" src="js/fullpage2.js")
script(type="text/javascript" src="js/scripts.js")

