#modal(style='display: none;')
    .container
        .row.align-items-center
            .col-sm-5.offset-md-1.col-md-4.order-sm-1.order-2
                img(src='img/illus/phone2.png')
            .col-sm-7.col-md-6.order-sm-2.order-1
                h3 Любите подорожі?
                h4 Завантажуйте додаток «Турист України»!
                p Тисячі знижок, привілеїв та спецпропозицій з усієї України!
                ul
                    li
                        a(href='' target='_blank')
                            img(src='img/icons/app1.png')
                    li
                        a(href='' target='_blank')
                            img(src='img/icons/app2.png')