nav
    .container
        .row
            .col-6.col-md-2.col-lg-1
                a(href='index.html' title='').link-logo
                    img(src='img/logo/logo.svg' title='' alt='')

            .col-6.nav-mobile
                .nav-icon#menu-trigger
                    span
                    span
                    span
                    span

            .col-md-10.col-lg-11.nav-panel
                .menu-panel
                    ul.menu-buttons
                        li
                            a(href='index.html').button Туристам
                        li
                            a(href='partners.html').button.active Партнерам

                    ul.menu.menu-partners

                        li
                            a(href='index.html' title='') Головна
                        li
                            a(href='#section2' title='') Переваги для партнерів
                        li
                            a(href='' title='')
                                img(src='img/icons/login.png')