nav
    .container
        .row
            .col-2.col-md-2.col-lg-1
                a(href='./' title='').link-logo
                    img(src='img/logo/logo.svg' title='' alt='')



            .col-8.col-md-4.col-lg-4.col-xl-4
                ul.menu-buttons
                    li
                        a(href='./').button
                            span Туристам
                    li
                        a(href='for-partners.html').button.active
                            span Партнерам

            .col-2.nav-mobile
                .nav-icon#menu-trigger
                    span
                    span
                    span
                    span

            .col-md-6.offset-lg-2.col-lg-5.offset-xl-2.col-xl-5.nav-panel
                    ul.menu.menu-partners

                        li
                            a(href='./' title='') Головна
                        li
                            a(href='#for-partners-excursions' title='').hidden-xs Переваги для партнерів
                            a(href='#section2-3' title='').visible-xs.smooth Переваги для партнерів
                        li
                            a(href='' title='') Вхід для партнерів