/* Proxima Nova */

/* normal */

/* 100 */
@font-face {
	font-family: 'Proxima Nova';
	src: url('../fonts/Proxima_Nova/ProximaNovaT-Thin.eot');
	src: url('../fonts/Proxima_Nova/ProximaNovaT-Thin.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Proxima_Nova/ProximaNovaT-Thin.woff') format('woff'),
	url('../fonts/Proxima_Nova/ProximaNovaT-Thin.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}
/* 200 */

/* 300 */
@font-face {
	font-family: 'Proxima Nova';
	src: url('../fonts/Proxima_Nova/ProximaNova-Light.eot');
	src: url('../fonts/Proxima_Nova/ProximaNova-Light.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Proxima_Nova/ProximaNova-Light.woff') format('woff'),
	url('../fonts/Proxima_Nova/ProximaNova-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}
/* 400 */
@font-face {
	font-family: 'Proxima Nova';
	src: url('../fonts/Proxima_Nova/ProximaNova-Regular.eot');
	src: url('../fonts/Proxima_Nova/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Proxima_Nova/ProximaNova-Regular.woff') format('woff'),
	url('../fonts/Proxima_Nova/ProximaNova-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
/* 500 */

/* 600 */
@font-face {
	font-family: 'Proxima Nova';
	src: url('../fonts/Proxima_Nova/ProximaNova-Semibold.eot');
	src: url('../fonts/Proxima_Nova/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Proxima_Nova/ProximaNova-Semibold.woff') format('woff'),
	url('../fonts/Proxima_Nova/ProximaNova-Semibold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}
/* 700 */
@font-face {
	font-family: 'Proxima Nova';
	src: url('../fonts/Proxima_Nova/ProximaNova-Bold.eot');
	src: url('../fonts/Proxima_Nova/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Proxima_Nova/ProximaNova-Bold.woff') format('woff'),
	url('../fonts/Proxima_Nova/ProximaNova-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
/* 800 */
@font-face {
	font-family: 'Proxima Nova';
	src: url('../fonts/Proxima_Nova/ProximaNova-Extrabld.eot');
	src: url('../fonts/Proxima_Nova/ProximaNova-Extrabld.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Proxima_Nova/ProximaNova-Extrabld.woff') format('woff'),
	url('../fonts/Proxima_Nova/ProximaNova-Extrabld.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}
/* 900 */
@font-face {
	font-family: 'Proxima Nova';
	src: url('../fonts/Proxima_Nova/ProximaNova-Black.eot');
	src: url('../fonts/Proxima_Nova/ProximaNova-Black.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Proxima_Nova/ProximaNova-Black.woff') format('woff'),
	url('../fonts/Proxima_Nova/ProximaNova-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}
/* italic */

/* 100 */
@font-face {
	font-family: 'Proxima Nova';
	src: url('../fonts/Proxima_Nova/ProximaNova-ThinIt.eot');
	src: url('../fonts/Proxima_Nova/ProximaNova-ThinIt.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Proxima_Nova/ProximaNova-ThinIt.woff') format('woff'),
	url('../fonts/Proxima_Nova/ProximaNova-ThinIt.ttf') format('truetype');
	font-weight: 100;
	font-style: italic;
}
/* 200 */

/* 300 */
@font-face {
	font-family: 'Proxima Nova';
	src: url('../fonts/Proxima_Nova/ProximaNova-LightIt.eot');
	src: url('../fonts/Proxima_Nova/ProximaNova-LightIt.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Proxima_Nova/ProximaNova-LightIt.woff') format('woff'),
	url('../fonts/Proxima_Nova/ProximaNova-LightIt.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}

/* 400 */
@font-face {
	font-family: 'Proxima Nova';
	src: url('../fonts/Proxima_Nova/ProximaNova-RegularIt.eot');
	src: url('../fonts/Proxima_Nova/ProximaNova-RegularIt.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Proxima_Nova/ProximaNova-RegularIt.woff') format('woff'),
	url('../fonts/Proxima_Nova/ProximaNova-RegularIt.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}
/* 500 */

/* 600 */
@font-face {
	font-family: 'Proxima Nova';
	src: url('../fonts/Proxima_Nova/ProximaNova-SemiboldIt.eot');
	src: url('../fonts/Proxima_Nova/ProximaNova-SemiboldIt.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Proxima_Nova/ProximaNova-SemiboldIt.woff') format('woff'),
	url('../fonts/Proxima_Nova/ProximaNova-SemiboldIt.ttf') format('truetype');
	font-weight: 600;
	font-style: italic;
}
/* 700 */
@font-face {
	font-family: 'Proxima Nova';
	src: url('../fonts/Proxima_Nova/ProximaNova-BoldIt.eot');
	src: url('../fonts/Proxima_Nova/ProximaNova-BoldIt.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Proxima_Nova/ProximaNova-BoldIt.woff') format('woff'),
	url('../fonts/Proxima_Nova/ProximaNova-BoldIt.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}
/* 800 */
@font-face {
	font-family: 'Proxima Nova';
	src: url('../fonts/Proxima_Nova/ProximaNova-ExtrabldIt.eot');
	src: url('../fonts/Proxima_Nova/ProximaNova-ExtrabldIt.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Proxima_Nova/ProximaNova-ExtrabldIt.woff') format('woff'),
	url('../fonts/Proxima_Nova/ProximaNova-ExtrabldIt.ttf') format('truetype');
	font-weight: 800;
	font-style: italic;
}
/* 900 */
@font-face {
	font-family: 'Proxima Nova';
	src: url('../fonts/Proxima_Nova/ProximaNova-BlackIt.eot');
	src: url('../fonts/Proxima_Nova/ProximaNova-BlackIt.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Proxima_Nova/ProximaNova-BlackIt.woff') format('woff'),
	url('../fonts/Proxima_Nova/ProximaNova-BlackIt.ttf') format('truetype');
	font-weight: 900;
	font-style: italic;
}
@font-face {
	font-family: 'UA-brand';
	src: url('../fonts/Uabrand/UA-brand-Black.eot');
	src: url('../fonts/Uabrand/UA-brand-Black.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Uabrand/UA-brand-Black.woff') format('woff'),
	url('../fonts/Uabrand/UA-brand-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'UA-brand';
	src: url('../fonts/Uabrand/UA-brand-Bold.eot');
	src: url('../fonts/Uabrand/UA-brand-Bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Uabrand/UA-brand-Bold.woff') format('woff'),
	url('../fonts/Uabrand/UA-brand-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'UA-brand';
	src: url('../fonts/Uabrand/UA-brand.eot');
	src: url('../fonts/Uabrand/UA-brand.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Uabrand/UA-brand.woff') format('woff'),
	url('../fonts/Uabrand/UA-brand.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
html {
	overflow-x: hidden;
	background: #4babe0;
}
body {
	overflow-x: hidden;
	font-family: 'MuseoSans', sans-serif;
	font-size: 1rem;
	font-weight: 400;
	color: #000;
	line-height: normal;
	background: #4babe0;
}
@media (max-width: 767px) {
	body {
		padding-top: 75px;
	}
}
@media (min-width: 1200px) {
	.container {
		max-width: 1170px;
	}
}
body.open nav {
	background: #fff;
}
body.open .nav-icon span {
	background: #ea2c6e;
}
body.open .nav-icon span:nth-child(1) {
	top: 18px;
	width: 0;
	left: 50%;
}
body.open .nav-icon span:nth-child(2) {
	-webkit-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	        transform: rotate(45deg);
}
body.open .nav-icon span:nth-child(3) {
	-webkit-transform: rotate(-45deg);
	    -ms-transform: rotate(-45deg);
	        transform: rotate(-45deg);
}
body.open .nav-icon span:nth-child(4) {
	top: 18px;
	width: 0;
	left: 50%;
}
.text-justify {
	text-align: justify !important;
}
.text-left {
	text-align: left !important;
}
.text-right {
	text-align: right !important;
}
.text-center {
	text-align: center !important;
}
@media (min-width: 576px) {
	.text-sm-left {
		text-align: left !important;
	}
	.text-sm-right {
		text-align: right !important;
	}
	.text-sm-center {
		text-align: center !important;
	}
}
@media (min-width: 768px) {
	.text-md-left {
		text-align: left !important;
	}
	.text-md-right {
		text-align: right !important;
	}
	.text-md-center {
		text-align: center !important;
	}
}
@media (min-width: 992px) {
	.text-lg-left {
		text-align: left !important;
	}
	.text-lg-right {
		text-align: right !important;
	}
	.text-lg-center {
		text-align: center !important;
	}
}
@media (min-width: 1200px) {
	.text-xl-left {
		text-align: left !important;
	}
	.text-xl-right {
		text-align: right !important;
	}
	.text-xl-center {
		text-align: center !important;
	}
}
h1 {
	font-family: 'MuseoSans', sans-serif;
	font-size: 2.5rem;
	font-weight: 900;
	color: #ffe500;
	line-height: 1.28;
	margin-bottom: .3rem;
	font-family: 'UA-brand', sans-serif;
	display: inline-block;
}
@media (max-width: 767px) {
	h1 {
		font-size: 1.5rem;
		font-weight: 700;
	}
}
h2 {
	font-family: 'MuseoSans', sans-serif;
	font-size: 2.5rem;
	font-weight: 900;
	color: #fff;
	line-height: 1.28;
	margin-bottom: .3rem;
	font-family: 'UA-brand', sans-serif;
	display: inline-block;
}
@media (max-width: 767px) {
	h2 {
		font-size: 1.5rem;
		font-weight: 700;
	}
}
h3 {
	font-family: 'MuseoSans', sans-serif;
	font-size: 2rem;
	font-weight: 700;
	color: #4babe0;
	line-height: normal;
	margin-bottom: 2.813rem;
	font-family: 'UA-brand', sans-serif;
}
h4 {
	font-family: 'MuseoSans', sans-serif;
	font-size: 1.75rem;
	font-weight: 700;
	color: #000;
	line-height: 1.61;
	margin-bottom: 2.5rem;
	font-family: 'UA-brand', sans-serif;
}
@media (max-width: 767px) {
	h4 {
		font-size: 1.25rem;
	}
}
h5 {
	font-family: 'MuseoSans', sans-serif;
	font-size: 1.5rem;
	font-weight: 500;
	color: #fff;
	line-height: 2.08;
	margin-bottom: 1.125rem;
	font-family: 'UA-brand', sans-serif;
}
@media (max-width: 767px) {
	h5 {
		font-size: 1.125em;
		line-height: 1.2;
	}
}
h6 {
	font-family: 'MuseoSans', sans-serif;
	font-size: 1.25rem;
	font-weight: 700;
	color: #4babe0;
	line-height: normal;
	margin-bottom: 45px;
	font-family: 'UA-brand', sans-serif;
}
.h6-section {
	color: #3d1617;
	margin-bottom: 1rem;
	margin-top: 2rem;
}
p {
	font-family: 'MuseoSans', sans-serif;
	font-size: 1rem;
	font-weight: 500;
	color: #3d1617;
	line-height: 1.75;
	margin-bottom: 1rem;
}
hr {
	border: 0;
	height: 2px;
	background: #ffe500;
	margin: 1.25rem 0;
}
.black {
	color: #000;
}
.white {
	color: #fff;
}
.gray {
	color: #a9a9a9;
}
a {
	text-decoration: none;
	-webkit-transition: all .4s ease;
	     -o-transition: all .4s ease;
	        transition: all .4s ease;
}
a:hover {
	text-decoration: none;
}
a:focus {
	text-decoration: none;
	outline: none;
}
.link-logo {
	display: block;
	width: 125px;
	position: relative;
	left: -20px;
}
.link-logo img {
	width: 100%;
}
@media (max-width: 767px) {
	.link-logo {
		width: 75px;
		height: 75px;
		left: -15px;
		top: 3px;
	}
}
.link-text {
	font-family: UA-brand, sans-serif;
	font-size: 1rem;
	line-height: 2.5;
	text-align: center;
}
@media (max-width: 767px) {
	.link-text {
		line-height: 1.5;
	}
}
.link-partners {
	display: block;
	margin-bottom: 60px;
}
.link-partners svg g, .link-partners svg rect, .link-partners svg polygon {
	fill: #fff;
	-webkit-transition: all .4s ease;
	     -o-transition: all .4s ease;
	        transition: all .4s ease;
}
.link-partners span {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display:         flex;
	color: #fff;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	        align-items: center;
	-webkit-transition: all .4s ease;
	     -o-transition: all .4s ease;
	        transition: all .4s ease;
}
.link-partners span svg {
	margin-left: 35px;
}
.link-partners h4 {
	font-size: 1.5rem;
	line-height: 1.25;
	color: #3d1617;
	height: 90px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display:         flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	        align-items: center;
	margin-bottom: 20px;
}
@media (min-width: 768px) and (max-width: 991px) {
	.link-partners h4 {
		font-size: 1.25rem;
	}
}
.link-partners .advantage-image svg {
	position: relative;
	left: -62px;
	top: 15px;
}
.link-partners:hover svg g, .link-partners:hover svg rect, .link-partners:hover svg polygon {
	fill: #3d1617;
}
.link-partners:hover svg polygon {
	stroke: #3d1617;
}
.link-partners:hover span {
	color: #3d1617;
}
@media (max-width: 767px) {
	.link-partners {
		margin-bottom: 60px;
	}
	.link-partners h4 {
		font-size: 1rem;
		line-height: 1.5;
		margin-bottom: 10px;
		height: 75px;
	}
	.link-partners .advantage {
		padding-left: 0;
		-webkit-flex-wrap: wrap;
		    -ms-flex-wrap: wrap;
		        flex-wrap: wrap;
	}
	.link-partners .advantage .advantage-image {
		max-width: 100%;
		-webkit-box-flex: 1;
		-webkit-flex: 1 1 100%;
		    -ms-flex: 1 1 100%;
		        flex: 1 1 100%;
		height: 72px;
	}
	.link-partners .advantage .advantage-image svg {
		left: 0;
		top: 0;
		max-width: 50px;
		height: auto;
	}
	.link-partners .advantage .advantage-image {
		-webkit-box-flex: 1;
		-webkit-flex: 1 1 100%;
		    -ms-flex: 1 1 100%;
		        flex: 1 1 100%;
		max-width: 100%;
	}
}
button {
	border: none;
	cursor: pointer;
	-webkit-transition: all .4s ease;
	     -o-transition: all .4s ease;
	        transition: all .4s ease;
}
button:focus {
	outline: none;
}
.button {
	display: block;
	max-width: 290px;
	width: 100%;
	background: transparent;
}
.button span {
	display: block;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 11px;
	background: #fff;
	color: #3d1617;
	-webkit-box-shadow: 0 10px 15px 0 rgba(0,111,184,.3);
	        box-shadow: 0 10px 15px 0 rgba(0,111,184,.3);
	font-family: 'UA-brand', sans-serif;
	-webkit-transition: all .4s ease;
	     -o-transition: all .4s ease;
	        transition: all .4s ease;
}
.button:hover span {
	-webkit-transform: translateY(10px);
	    -ms-transform: translateY(10px);
	        transform: translateY(10px);
	-webkit-box-shadow: 0 10px 15px 0 rgba(0,111,184,0);
	        box-shadow: 0 10px 15px 0 rgba(0,111,184,0);
	color: #000;
	background: #ffe500;
}
.button-choice {
	position: relative;
	z-index: 20;
	margin: 0 auto;
	max-width: 361px;
}
.button-choice span {
	font-size: 1.125rem;
	font-weight: 700;
	background: #ea2c6e;
	color: #fff;
	padding-top: 15px;
	padding-bottom: 18px;
}
.button-choice.opacity span {
	background: #cf4d7a;
}
ul {
	padding: 0;
	margin: 0;
}
ul li {
	list-style: none;
}
ol {
	padding: 0;
	margin: 0;
}
.ul-regular li {
	font-weight: 500;
	line-height: 1.5;
	color: #3d1617;
}
.img-responsive {
	width: 100%;
}
main {
	background: #fff;
	-webkit-transition: all .4s ease;
	     -o-transition: all .4s ease;
	        transition: all .4s ease;
}
@media (max-width: 767px) {
	main {
		position: relative;
		z-index: 100;
	}
}
.section {
	background: #f6de00;
	position: relative;
}
.section .container {
	position: relative;
	z-index: 2;
}
.container-double {
	position: relative;
}
.container-double:after {
	content: '';
	display: block;
	position: absolute;
	background: #f6de00;
	bottom: 0;
	height: 396px;
	left: 0;
	right: 0;
	z-index: 1;
}
.container-white {
	position: relative;
	z-index: 10;
}
@media (max-width: 767px) {
	.container-white {
		padding-top: 50px;
	}
	.container-white img {
		display: none;
	}
}
.container-white .row {
	padding-top: 106px;
	padding-bottom: 106px;
	background: #fff;
	-webkit-box-shadow: 0 7px 14px 0 rgba(0,0,0,.17);
	        box-shadow: 0 7px 14px 0 rgba(0,0,0,.17);
	position: relative;
	z-index: 10;
}
@media (max-width: 767px) {
	.container-white .row {
		padding-bottom: 50px;
		padding-top: 40px;
	}
}
.container-white .row p {
	font-weight: 300;
	line-height: 1.75;
	color: #3d1617;
	margin-bottom: 2.938em;
}
.container-white .row .button {
	margin: 0;
	max-width: 263px;
}
.container-white .row .button:hover span {
	background: #cf4d7a;
	color: #fff;
}
.container-double-partners:after {
	background: #b8d50a;
	height: 400px;
}
.container-double-partners .container-white {
	padding-top: 0;
}
.container-double-partners .container-white .row {
	padding-top: 102px;
	padding-bottom: 102px;
}
.ornament {
	position: absolute;
	z-index: 1;
}
.back-blue {
	background: #4babe0;
}
.back-green {
	background: #b8d50a;
}
.fp-viewing-for-tourists nav, .fp-viewing-for-partners nav {
	background: #4babe0;
	max-height: unset;
}
.fp-viewing-for-tourists nav .link-logo, .fp-viewing-for-partners nav .link-logo {
	max-width: 125px;
}
nav {
	-webkit-transition: all .4s ease;
	     -o-transition: all .4s ease;
	        transition: all .4s ease;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 4000;
	background: transparent;
	max-height: 60px;
}
nav .link-logo {
	max-width: 60px;
}
@media (max-width: 767px) {
	nav {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		background: #4babe0;
		z-index: 4000;
		max-height: unset;
	}
	nav .link-logo {
		max-width: unset;
	}
}
@media (max-width: 767px) {
	.nav-panel {
		background: #fff;
		display: none;
		height: calc(100vh - 75px);
	}
}
.menu {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display:         flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	        align-items: center;
	height: 100%;
}
@media (min-width: 768px) and (max-width: 991px) {
	.menu {
		-webkit-flex-wrap: wrap;
		    -ms-flex-wrap: wrap;
		        flex-wrap: wrap;
		padding: 30px 0;
	}
}
@media (max-width: 767px) {
	.menu {
		-webkit-box-flex: 1;
		-webkit-flex: 1 1 100%;
		    -ms-flex: 1 1 100%;
		        flex: 1 1 100%;
		max-width: 100%;
		height: auto;
		-webkit-flex-wrap: wrap;
		    -ms-flex-wrap: wrap;
		        flex-wrap: wrap;
		-webkit-box-pack: start;
		-webkit-justify-content: flex-start;
		-ms-flex-pack: start;
		        justify-content: flex-start;
		-webkit-box-align: start;
		-webkit-align-items: flex-start;
		-ms-flex-align: start;
		        align-items: flex-start;
		padding: 25px 0;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.menu li {
		-webkit-box-flex: 1;
		-webkit-flex: 1 1 50%;
		    -ms-flex: 1 1 50%;
		        flex: 1 1 50%;
		max-width: 50%;
	}
}
@media (max-width: 767px) {
	.menu li {
		-webkit-box-flex: 1;
		-webkit-flex: 1 1 100%;
		    -ms-flex: 1 1 100%;
		        flex: 1 1 100%;
		max-width: 100%;
	}
}
.menu li a {
	font-size: .875rem;
	font-weight: 500;
	display: block;
	color: #fff;
	position: relative;
}
@media (max-width: 767px) {
	.menu li a {
		color: #3d1617;
		font-family: 'UA-brand', sans-serif;
		font-size: 1.125em;
		margin-bottom: 1rem;
	}
}
.menu li a:after {
	content: '';
	display: block;
	position: absolute;
	bottom: -5px;
	left: 0;
	right: 0;
	height: 2px;
	background: transparent;
	-webkit-transition: all .4s ease;
	     -o-transition: all .4s ease;
	        transition: all .4s ease;
}
.menu li a:hover {
	color: #007fbf;
}
.menu li a:hover:after {
	background: #007fbf;
}
.menu-buttons {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display:         flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	    -ms-flex-direction: row;
	        flex-direction: row;
	padding: 0 34px;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	        justify-content: space-between;
	height: 100%;
}
@media (min-width: 768px) and (max-width: 991px) {
	.menu-buttons {
		padding: 0;
	}
}
@media (max-width: 767px) {
	.menu-buttons {
		height: auto;
		padding: 18px 0;
	}
}
.menu-buttons li {
	width: 100%;
}
@media (max-width: 767px) {
	.menu-buttons li {
		-webkit-box-flex: 1;
		-webkit-flex: 1 1 100%;
		    -ms-flex: 1 1 100%;
		        flex: 1 1 100%;
		max-width: 100%;
	}
}
.menu-buttons li .button {
	max-width: 146px;
}
@media (min-width: 768px) and (max-width: 991px) {
	.menu-buttons li .button {
		max-width: 110px;
	}
}
@media (max-width: 767px) {
	.menu-buttons li .button {
		max-width: 100%;
		margin-bottom: 0;
		font-size: .875rem;
	}
}
.menu-buttons li .button:hover span {
	background: #f2d300;
	color: #a39300;
}
.menu-buttons li .active span {
	background: #ffe500;
}
.nav-mobile {
	display: none;
}
@media (max-width: 767px) {
	.nav-mobile {
		display: block;
	}
}
.nav-icon {
	width: 35px;
	height: 22px;
	position: relative;
	margin: 26px 0;
	cursor: pointer;
	-webkit-transition: all .4s ease;
	     -o-transition: all .4s ease;
	        transition: all .4s ease;
	-webkit-transform: rotate(0deg);
	    -ms-transform: rotate(0deg);
	        transform: rotate(0deg);
	float: right;
}
.nav-icon span {
	display: block;
	position: absolute;
	height: 2px;
	width: 100%;
	background: #fff;
	border-radius: 2px;
	opacity: 1;
	left: 0;
	-webkit-transform: rotate(0deg);
	    -ms-transform: rotate(0deg);
	        transform: rotate(0deg);
	-webkit-transition: all .4s ease;
	     -o-transition: all .4s ease;
	        transition: all .4s ease;
}
.nav-icon span:nth-child(1) {
	top: 0;
}
.nav-icon span:nth-child(2), .nav-icon span:nth-child(3) {
	top: 9px;
}
.nav-icon span:nth-child(4) {
	top: 18px;
}
footer {
	background: #fff;
	padding-top: 72px;
	padding-bottom: 70px;
}
@media (max-width: 767px) {
	footer {
		padding-bottom: 0;
	}
}
footer p {
	font-size: .75rem;
	font-weight: 500;
	line-height: 2.33;
	color: #3d1617;
}
footer .button span {
	background: #ffe500;
}
footer:after {
	content: '';
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 70px;
	background: #4babe0;
}
@media (max-width: 767px) {
	footer:after {
		height: 30px;
	}
}
.footer-flex {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display:         flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	        align-items: center;
	margin-bottom: 95px;
}
@media (max-width: 767px) {
	.footer-flex {
		-webkit-flex-wrap: wrap;
		    -ms-flex-wrap: wrap;
		        flex-wrap: wrap;
	}
}
.footer-flex img {
	margin-right: 29px;
}
@media (max-width: 767px) {
	.footer-flex img {
		margin-bottom: 20px;
	}
}
.footer-flex p {
	margin-bottom: 0;
}
.footer-flex-partners {
	-webkit-box-align: start;
	-webkit-align-items: flex-start;
	-ms-flex-align: start;
	        align-items: flex-start;
}
@media (max-width: 767px) {
	.footer-flex-partners {
		margin-top: 40px;
		-webkit-flex-wrap: wrap;
		    -ms-flex-wrap: wrap;
		        flex-wrap: wrap;
	}
}
.footer-flex-partners h6 {
	margin-right: 40px;
	margin-bottom: 0;
	margin-top: 20px;
}
@media (max-width: 767px) {
	.footer-flex-partners h6 {
		-webkit-box-flex: 1;
		-webkit-flex: 1 1 100%;
		    -ms-flex: 1 1 100%;
		        flex: 1 1 100%;
		max-width: 100%;
		margin-right: 0;
		margin-bottom: 45px;
	}
}
.footer-flex-partners p {
	font-size: .75rem;
	font-weight: 500;
	line-height: 2.33;
	margin-bottom: 0;
	color: #3d1617;
	margin-left: 15px;
}
@media (max-width: 767px) {
	.footer-flex-partners p {
		margin-right: 15px;
		text-align: center;
	}
}
@media (max-width: 767px) {
	.footer-flex-partners--partners {
		-webkit-box-flex: 1;
		-webkit-flex: 1 1 100%;
		    -ms-flex: 1 1 100%;
		        flex: 1 1 100%;
		max-width: 100%;
	}
}
.footer-partners {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display:         flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	        align-items: center;
	height: 66px;
	margin-bottom: 22px;
}
@media (max-width: 767px) {
	.footer-partners {
		-webkit-flex-wrap: wrap;
		    -ms-flex-wrap: wrap;
		        flex-wrap: wrap;
		height: auto;
	}
}
.footer-partners li {
	position: relative;
	height: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display:         flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	        align-items: center;
	padding-right: 15px;
	padding-left: 15px;
}
@media (max-width: 767px) {
	.footer-partners li {
		-webkit-box-flex: 1;
		-webkit-flex: 1 1 100%;
		    -ms-flex: 1 1 100%;
		        flex: 1 1 100%;
		max-width: 100%;
		padding: 0;
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display:         flex;
		-webkit-box-pack: center;
		-webkit-justify-content: center;
		-ms-flex-pack: center;
		        justify-content: center;
		margin-bottom: 30px;
	}
}
.footer-partners li img {
	margin: 0;
}
.footer-partners li:after {
	content: '';
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	width: 1px;
	height: 66px;
	border: solid 1px #16275d;
}
@media (max-width: 767px) {
	.footer-partners li:after {
		display: none;
	}
}
.footer-partners li:last-child:after {
	display: none;
}
.fancybox-slide > div {
	width: 100%;
	max-width: 1170px;
	padding: 2rem 0;
}
@media (min-width: 992px) and (max-width: 1199px) {
	.fancybox-slide > div {
		max-width: 960px;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.fancybox-slide > div {
		max-width: 720px;
	}
}
@media (max-width: 576px) {
	.fancybox-slide > div {
		max-width: 540px;
	}
}
@media (max-width: 767px) {
	.fancybox-slide > div {
		max-width: calc(100% - 30px);
		padding: 4.5rem 0;
	}
}
@media (min-width: 992px) and (max-width: 1199px) {
	.fancybox-slide > div img {
		width: 100%;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.fancybox-slide > div img {
		width: 100%;
	}
}
@media (max-width: 767px) {
	.fancybox-slide > div img {
		width: 100%;
	}
}
.fancybox-slide > div h3 {
	font-size: 2.375rem;
	margin-bottom: 35px;
}
@media (min-width: 768px) and (max-width: 991px) {
	.fancybox-slide > div h3 {
		font-size: 2rem;
	}
}
@media (max-width: 767px) {
	.fancybox-slide > div h3 {
		font-size: 2rem;
	}
}
.fancybox-slide > div h4 {
	font-size: 1.75rem;
	margin-bottom: 21px;
}
@media (min-width: 768px) and (max-width: 991px) {
	.fancybox-slide > div h4 {
		font-size: 1.5rem;
	}
}
@media (max-width: 767px) {
	.fancybox-slide > div h4 {
		font-size: 1.5rem;
	}
}
.fancybox-slide > div p {
	margin-bottom: 49px;
}
.fancybox-slide > div ul {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display:         flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	        justify-content: space-between;
}
@media (max-width: 767px) {
	.fancybox-slide > div ul {
		margin-bottom: 50px;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.fancybox-slide > div ul li {
		-webkit-box-flex: 1;
		-webkit-flex: 1 1 49%;
		    -ms-flex: 1 1 49%;
		        flex: 1 1 49%;
		max-width: 49%;
	}
}
@media (max-width: 767px) {
	.fancybox-slide > div ul li {
		-webkit-box-flex: 1;
		-webkit-flex: 1 1 49%;
		    -ms-flex: 1 1 49%;
		        flex: 1 1 49%;
		max-width: 49%;
	}
}
.fancybox-slide > div ul li a:hover {
	opacity: .8;
}
.fancybox-close-small {
	top: 28px;
	right: 28px;
}
.fancybox-close-small:hover {
	background: transparent;
	outline: none;
}
.fancybox-close-small:hover:after {
	background: transparent;
	color: #ea2c6e;
}
.fancybox-close-small:after {
	color: #4babe0;
	font-size: 80px;
	width: 40px;
	height: 40px;
	-webkit-transition: all .4s ease;
	     -o-transition: all .4s ease;
	        transition: all .4s ease;
}
.section .fp-tableCell {
	padding-top: 60px;
}
#section1-1 {
	background: #4babe0;
	position: relative;
}
#section1-1 .fp-tableCell {
	padding-top: 0;
}
#section1-1 .fp-scroller {
	overflow: visible;
}
#section1-1 .section-first {
	padding-top: 80px;
}
@media (max-width: 767px) {
	#section1-1 .section-first {
		padding-top: 20px;
	}
}
#section1-2 {
	background: #f6de00;
	position: relative;
}
#section1-2:after {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 50%;
	background: #4babe0;
}
#section1-3 .ornament {
	bottom: -350px;
	right: -70px;
}
#section1-5 .ornament {
	top: -100px;
	left: 5px;
}
#section1-6 .ornament {
	bottom: -280px;
	right: 10px;
}
#section1-8 .ornament {
	bottom: -130px;
	right: 200px;
}
#section1-10 .ornament {
	top: -170px;
	left: -50px;
}
#section1-11 .ornament {
	bottom: -170px;
	left: 40%;
}
#section1-12 {
	background: #f6de00;
	position: relative;
}
#section1-12:after {
	content: '';
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 50%;
	background: #b8d50a;
}
@media (max-width: 767px) {
	#section1-12 {
		padding-top: 50px;
	}
}
#section1-12 .container-white {
	padding-top: 0;
	padding-bottom: 0;
}
#section1-12 .container-white .row {
	padding-top: 80px;
	padding-bottom: 96px;
}
@media (max-width: 767px) {
	#section1-12 .container-white .row {
		padding-top: 40px;
		padding-bottom: 10px;
	}
}
#section1-12 .container-white .row h3 {
	color: #4babe0;
}
#section1-13 {
	background: #b8d50a;
}
#section1-13 h3 {
	text-align: center;
	color: #fff;
	margin-top: 107px;
}
@media (max-width: 767px) {
	#section1-13 h3 {
		margin-top: 50px;
	}
}
#section1-13 .ornament.ornament3 {
	top: 350px;
	left: -180px;
}
#section1-13 .ornament.ornament4 {
	top: 750px;
	right: -150px;
}
@media (max-width: 767px) {
	#section1-13 .ornament.ornament4 {
		top: 1650px;
	}
}
@media (max-width: 767px) {
	#section1-13 .container-white {
		padding-top: 0;
	}
}
#section1-13 .container-double-last {
	background: #4babe0;
	padding-top: 75px;
	padding-bottom: 75px;
	margin-bottom: 117px;
}
@media (max-width: 767px) {
	#section1-13 .container-double-last {
		padding-top: 0;
		margin-bottom: 0;
		padding-bottom: 50px;
	}
}
#section1-13 .container-double-last:after {
	height: 50%;
	top: 0;
	bottom: auto;
	background: #b8d50a;
}
#section1-13 .container-double-last .container-white .row {
	padding: 140px 0;
}
@media (max-width: 767px) {
	#section1-13 .container-double-last .container-white .row {
		padding: 50px 0;
	}
}
#section1-13 .container-double-last .container-white .row .button {
	margin: 0 auto 44px;
	max-width: 360px;
}
#section1-14 {
	background: #b8d50a;
	position: relative;
}
#section1-14:after {
	content: '';
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 50%;
	background: #4babe0;
}
@media (max-width: 767px) {
	#section1-14 {
		padding-top: 50px;
	}
}
#section1-14 .container-white .row {
	padding: 140px 0;
}
@media (max-width: 767px) {
	#section1-14 .container-white .row {
		padding: 50px 0;
	}
}
#section1-14 .container-white .row .button {
	margin: 0 auto 44px;
	max-width: 360px;
}
#section1-15 .fp-tableCell {
	padding-top: 0;
}
@media (min-width: 375px) and (max-width: 767px) {
	#section1-1 .container, #section1-2 .container, #section1-3 .container, #section1-4 .container, #section1-5 .container, #section1-6 .container, #section1-7 .container, #section1-8 .container, #section1-9 .container, #section1-10 .container, #section1-11 .container, #section1-12 .container, #section1-13 .container {
		padding-left: 30px;
		padding-right: 30px;
	}
	#section1-1 nav .container {
		padding-left: 15px;
		padding-right: 15px;
	}
	#section1-2 .container-white .row, #section1-12 .container-white .row, #section1-13 .container-white .row {
		padding-left: 15px;
		padding-right: 15px;
	}
	#section1-13 .container-double-last .container-white .row {
		padding: 50px 15px;
	}
	.advantage-mobile {
		left: 20px;
	}
}
#section2-1 {
	background: #4babe0;
	position: relative;
}
#section2-1 .section-first {
	padding-top: 80px;
}
@media (max-width: 767px) {
	#section2-1 .section-first {
		padding-top: 20px;
	}
}
@media (max-width: 767px) {
	#section2-1 .container-white {
		padding-top: 0;
		padding-bottom: 50px;
	}
	#section2-1 .container-white img {
		display: inline-block;
		max-width: 250px;
		margin-top: 50px;
	}
}
#section2-1:after {
	content: '';
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 50%;
	background: #b8d50a;
}
#section2-2 {
	background: #b8d50a;
}
#section2-4 .ornament {
	bottom: -260px;
	left: 200px;
}
#section2-6 .ornament {
	top: -100px;
	right: 80px;
}
@media (max-width: 767px) {
	#section2-8 {
		padding-bottom: 50px;
	}
}
#section2-8 .ornament {
	bottom: 0;
	right: -100px;
}
#section2-9 {
	background: #4babe0;
	position: relative;
}
#section2-9:after {
	content: '';
	display: block;
	position: absolute;
	height: 50%;
	top: 0;
	left: 0;
	right: 0;
	bottom: auto;
	background: #f6de00;
}
@media (max-width: 767px) {
	#section2-9 .back-blue {
		padding-bottom: 50px;
	}
}
#section2-9 h3 {
	text-align: center;
	color: #fff;
	margin-top: 107px;
}
#section2-9 .ornament.ornament3 {
	top: 350px;
	left: -180px;
}
#section2-9 .ornament.ornament4 {
	top: 750px;
	right: -150px;
}
@media (max-width: 767px) {
	#section2-9 .ornament.ornament4 {
		top: 1650px;
	}
}
@media (max-width: 767px) {
	#section2-9 .container-white {
		padding-top: 0;
	}
}
#section2-9 .container-white .row {
	padding: 140px 0;
}
@media (max-width: 767px) {
	#section2-9 .container-white .row {
		padding: 50px 0;
	}
}
#section2-9 .container-white .row .button {
	margin: 0 auto 44px;
	max-width: 360px;
}
#section2-10 .fp-tableCell {
	padding-top: 0;
}
@media (min-width: 375px) and (max-width: 767px) {
	#section2-1 .container, #section2-2 .container, #section2-3 .container, #section2-4 .container, #section2-5 .container, #section2-6 .container, #section2-7 .container, #section2-8 .container, #section2-9 .container, #section2-10 .container {
		padding-left: 30px;
		padding-right: 30px;
	}
	#section2-1 nav .container {
		padding-left: 15px;
		padding-right: 15px;
	}
	#section2-1 .container-white .row, #section2-9 .container-white .row {
		padding-left: 15px;
		padding-right: 15px;
	}
}
.volta {
	float: right;
	display: block;
	position: relative;
}
.volta--text {
	font-size: .625em;
	color: #bebebe;
	position: relative;
	top: -3px;
	margin-right: 5px;
}
.volta--visible svg {
	width: 62px;
}
.volta--visible svg g {
	fill: #bebebe;
}
.volta--hidden {
	position: absolute;
	right: 0;
	top: 0;
	height: 0;
	overflow: hidden;
	-webkit-transition: all .4s ease;
	     -o-transition: all .4s ease;
	        transition: all .4s ease;
}
.volta--hidden svg {
	width: 62px;
}
.volta--hidden svg g {
	fill: #7521e1;
}
.volta:hover .volta--hidden {
	height: 100%;
}
.choice {
	position: relative;
	z-index: 10;
	-webkit-transition: all .4s ease;
	     -o-transition: all .4s ease;
	        transition: all .4s ease;
	height: 375px;
}
.choice img {
	max-width: 475px;
}
@media (min-width: 768px) and (max-width: 991px) {
	.choice img {
		max-width: 500px;
	}
}
@media (max-width: 767px) {
	.choice {
		position: static;
		height: 150px;
		margin-top: 40px;
	}
	.choice img {
		width: 100%;
	}
}
.choice1 {
	left: -75px;
}
.choice2 {
	left: 20px;
	top: -25px;
}
.choice.transform {
	opacity: .6;
}
.choice1.transform {
	-webkit-transform: translateX(-220px);
	    -ms-transform: translateX(-220px);
	        transform: translateX(-220px);
}
@media (max-width: 767px) {
	.choice1.transform {
		-webkit-transform: none;
		    -ms-transform: none;
		        transform: none;
	}
}
.choice2.transform {
	-webkit-transform: translateX(220px);
	    -ms-transform: translateX(220px);
	        transform: translateX(220px);
}
@media (max-width: 767px) {
	.choice2.transform {
		-webkit-transform: none;
		    -ms-transform: none;
		        transform: none;
	}
}
.choice-description {
	position: absolute;
	max-width: 292px;
	z-index: 30;
	top: 30px;
	opacity: 0;
	-webkit-transition: all .4s ease;
	     -o-transition: all .4s ease;
	        transition: all .4s ease;
}
@media (min-width: 768px) and (max-width: 991px) {
	.choice-description {
		display: none;
	}
}
@media (max-width: 767px) {
	.choice-description {
		display: none;
	}
}
.choice-description p {
	color: #fff;
	font-weight: 500;
	line-height: 1.75;
}
.choice-description img {
	position: absolute;
	top: 160px;
}
.choice-description1 {
	right: -292px;
}
.choice-description1 img {
	left: -225px;
}
.choice-description2 {
	left: -194px;
}
.choice-description2 img {
	right: -125px;
}
.choice-description.active {
	opacity: 1;
}
.advantage {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display:         flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	    -ms-flex-direction: row;
	        flex-direction: row;
}
@media (max-width: 767px) {
	.advantage {
		padding-left: 60px;
	}
}
.advantage-image {
	-webkit-box-flex: 1;
	-webkit-flex: 1 1 97px;
	    -ms-flex: 1 1 97px;
	        flex: 1 1 97px;
	max-width: 97px;
}
@media (max-width: 767px) {
	.advantage-image {
		max-width: 60px;
		-webkit-box-flex: 1;
		-webkit-flex: 1 1 60px;
		    -ms-flex: 1 1 60px;
		        flex: 1 1 60px;
	}
}
.advantage-image img {
	position: relative;
	left: -50px;
	top: -9px;
}
@media (min-width: 768px) and (max-width: 991px) {
	.advantage-image img {
		left: -25px;
	}
}
.advantage-mobile {
	display: none;
	position: relative;
	width: 320px;
	margin: 0 auto;
	margin-top: 50px;
}
.advantage-mobile--phone {
	width: 320px;
}
.advantage-mobile--screenshot {
	position: absolute;
	width: 224px;
	top: 66px;
	left: 32px;
}
@media (max-width: 767px) {
	.advantage-mobile {
		display: block;
	}
}
.advantage-mobile--desktop {
	left: 0;
}
.advantage-mobile--desktop .advantage-mobile--screenshot {
	width: 300px;
	left: 11px;
	top: 11px;
}
.advantage-heading-mobile {
	display: none;
	padding-top: 50px;
}
.advantage-heading-mobile h3 {
	margin-bottom: 0;
	color: #fff;
	text-align: center;
}
@media (max-width: 767px) {
	.advantage-heading-mobile {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display:         flex;
	}
}
#fp-nav.right {
	right: 109px;
	opacity: 0;
}
@media (min-width: 992px) and (max-width: 1199px) {
	#fp-nav.right {
		right: 20px;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	#fp-nav.right {
		right: 20px;
	}
}
#fp-nav.right.visible {
	opacity: 1;
}
#fp-nav {
	z-index: 99999;
}
#fp-nav ul li {
	width: 18px;
	height: 18px;
	padding: 0;
	margin: 0;
	margin-bottom: 12px;
	margin-top: 12px;
}
#fp-nav ul li:first-child, #fp-nav ul li:last-child, #fp-nav ul li:nth-child(2), #fp-nav ul li:nth-child(12), #fp-nav ul li:nth-child(13), #fp-nav ul li:nth-last-child(2) {
	display: none;
}
#fp-nav ul li .fp-tooltip {
	background: #fff;
	color: #3d1617;
	max-width: unset;
	width: 100%;
	text-align: center;
	font-weight: 300;
	line-height: 44px;
	height: 44px;
	top: -16px;
	overflow: visible;
	-webkit-box-shadow: 0 7px 14px 0 rgba(0,0,0,.17);
	        box-shadow: 0 7px 14px 0 rgba(0,0,0,.17);
	z-index: 4000;
	padding: 0 15px;
}
#fp-nav ul li .fp-tooltip:after {
	content: '';
	display: block;
	position: absolute;
	width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-left: 10px solid #fff;
	right: -10px;
	top: 12px;
}
#fp-nav ul li .fp-tooltip.right {
	right: 36px;
}
#fp-nav ul li:hover .fp-tooltip {
	width: auto;
}
#fp-nav ul li a {
	width: 18px;
	height: 18px;
	padding: 0;
	margin: 0;
}
#fp-nav ul li a span {
	background: #fff;
	border: 4px solid transparent;
	left: auto;
	right: auto;
	top: auto;
	bottom: auto;
	width: 12px;
	height: 12px;
	margin: 3px;
}
#fp-nav ul li a.active span, #fp-nav ul li:hover a span, #fp-nav ul li:hover a.active span {
	border: 4px solid #fff;
	background: transparent;
	left: auto;
	right: auto;
	top: auto;
	bottom: auto;
	width: 18px;
	height: 18px;
	margin: 0;
}
.section.fp-section.fp-table .row {
	opacity: 0;
	-webkit-transition: all .4s ease;
	     -o-transition: all .4s ease;
	        transition: all .4s ease;
}
.section.fp-section.fp-table.active .row {
	opacity: 1;
}
#section1-14.section.fp-section.fp-table .row, #section1-15.section.fp-section.fp-table .row {
	opacity: 1;
}
#section2-9.section.fp-section.fp-table .row, #section2-10.section.fp-section.fp-table .row {
	opacity: 1;
}
.mask {
	position: fixed;
	top: 0;
	left: calc(50% - ((1010px / 2)));
	z-index: 2000;
	height: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display:         flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	        align-items: center;
	-webkit-transition: 1s all ease;
	     -o-transition: 1s all ease;
	        transition: 1s all ease;
	-webkit-transform: translateY(-150vh);
	    -ms-transform: translateY(-150vh);
	        transform: translateY(-150vh);
}
@media (min-width: 768px) and (max-width: 991px) {
	.mask {
		left: calc(50% - ((790px / 2)));
	}
}
@media (max-width: 767px) {
	.mask {
		display: none;
	}
}
.mask-phone {
	position: absolute;
	top: calc(50% - (542px / 2));
	left: 0;
}
.mask h3 {
	font-family: UA-brand;
	font-size: 2.375rem;
	font-weight: bold;
	text-align: center;
	color: #fff;
	position: absolute;
	max-width: 360px;
	width: 100%;
	left: calc(50% + 402px);
	text-align: center;
	bottom: calc(50% + (400px / 2));
}
.mask .button {
	position: absolute;
	width: 262px;
	left: calc(553px - 131px);
	top: calc(50% + (505px / 2));
}
.mask .button:hover span {
	background: #cf4d7a;
	color: #fff;
}
.mask .screenshot {
	position: absolute;
	top: calc(50% - (395px / 2));
	left: 36px;
	opacity: 0;
	z-index: 1;
	-webkit-transition: all .4s ease;
	     -o-transition: all .4s ease;
	        transition: all .4s ease;
}
.mask .screenshot.visible {
	opacity: 1;
	z-index: 2;
}
.mask.visible {
	-webkit-transform: none;
	    -ms-transform: none;
	        transform: none;
}
.mask2 {
	right: calc(50% - ((1010px / 2)));
	left: auto;
}
.mask2 .mask-desktop {
	position: absolute;
	top: calc(50% - (433px / 2));
	right: -26px;
}
@media (min-width: 992px) and (max-width: 1199px) {
	.mask2 .mask-desktop {
		right: -56px;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.mask2 .mask-desktop {
		right: -106px;
	}
}
.mask2 .screenshot {
	top: calc(50% - (385px / 2));
	right: -1px;
	left: auto;
}
@media (min-width: 992px) and (max-width: 1199px) {
	.mask2 .screenshot {
		right: -31px;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.mask2 .screenshot {
		right: -81px;
	}
}
.mask2 h3 {
	left: auto;
	right: calc(50% + 610px);
}
.mask2 .button {
	right: 814px;
	top: calc(50% + (530px / 2));
	left: auto;
}
@media (min-width: 992px) and (max-width: 1199px) {
	.mask2 .button {
		right: 710px;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.mask2 .button {
		right: 590px;
		top: calc(50% + (625px / 2));
	}
}
.counter {
	padding-top: 20px;
	margin-bottom: 82px;
	position: relative;
}
.counter img {
	margin-bottom: 43px;
	height: 165px;
}
.counter h4 {
	margin-bottom: 1rem;
}
.counter p {
	line-height: 1.88;
	padding-right: 20px;
	font-family: 'UA-brand', sans-serif;
}
.counter span {
	color: #fff;
	font-size: 1.5rem;
	font-family: 'UA-brand', sans-serif;
	font-weight: 600;
	line-height: 1.25;
}
.counter ul li {
	color: #fff;
	line-height: 1.75;
	font-size: 700;
}
.counter .white {
	margin: 0;
	line-height: 1.75;
}
.counter .path {
	position: absolute;
	width: auto;
	height: auto;
}
.counter .path1 {
	right: -100px;
	top: 120px;
}
.counter .path2 {
	left: -450px;
	top: 180px;
}
.counter .path3 {
	right: -100px;
	top: 70px;
}
.counter .path1m, .counter .path2m, .counter .path3m {
	display: none;
}
.counter .path1m {
	bottom: -180px;
	left: 38px;
}
.counter .path2m {
	bottom: -270px;
	right: 38px;
}
.counter .path3m {
	bottom: -180px;
	left: 44px;
}
@media (max-width: 767px) {
	.counter .path1, .counter .path2, .counter .path3 {
		display: none;
	}
	.counter .path1m, .counter .path2m, .counter .path3m {
		display: block;
	}
}
.partners-mobile {
	display: none;
}
@media (max-width: 767px) {
	.partners-mobile {
		display: block;
	}
}
@media (max-width: 767px) {
	.partners-desktop {
		display: none;
	}
}