.mask.mask2
    h3 Переваги

    img(src='img/illus/Desktop.png').mask-desktop

    img(src='img/screenshots/screenshot2-2.png').screenshot.screenshot2-2
    img(src='img/screenshots/screenshot2-3.png').screenshot.screenshot2-3
    img(src='img/screenshots/screenshot2-4.png').screenshot.screenshot2-4
    img(src='img/screenshots/screenshot2-5.png').screenshot.screenshot2-5
    img(src='img/screenshots/screenshot2-6.png').screenshot.screenshot2-6
    img(src='img/screenshots/screenshot2-7.png').screenshot.screenshot2-7

    a(data-fancybox data-src="#modal" href="javascript:;").button.button-choice Стати Партнером