#section2-2.section


    .partners-desktop
        .container
            .row
                .col-12.text-center
                    h3.white Кому
            .row
                .offset-lg-2.offset-md-1.col-lg-4.col-md-5
                    a(href='#for-partners-excursions').link-partners
                        .advantage
                            .advantage-image
                                include ../../img/advantages/advantage10.svg
                            .advantage-heading
                                h4 Екскурсійним і туристичним компаніям
                                span Детальніше
                                    include ../../img/icons/angle-right.svg
                .offset-md-1.col-lg-4.col-md-5
                    a(href='#for-tourists-museums-and-galleries').link-partners
                        .advantage
                            .advantage-image
                                include ../../img/advantages/advantage11.svg
                            .advantage-heading
                                h4 Музеям та галереям
                                span Детальніше
                                    include ../../img/icons/angle-right.svg
                .offset-lg-2.offset-md-1.col-lg-4.col-md-5
                    a(href='#for-tourists-event-companies').link-partners
                        .advantage
                            .advantage-image
                                include ../../img/advantages/advantage12.svg
                            .advantage-heading
                                h4 Івент-компаніям
                                span Детальніше
                                    include ../../img/icons/angle-right.svg
                .offset-md-1.col-lg-4.col-md-5
                    a(href='#for-partners-hotels').link-partners
                        .advantage
                            .advantage-image
                                include ../../img/advantages/advantage13.svg
                            .advantage-heading
                                h4 Готелям
                                span Детальніше
                                    include ../../img/icons/angle-right.svg
                .offset-lg-2.offset-md-1.col-lg-4.col-md-5
                    a(href='#for-partners-statistics').link-partners
                        .advantage
                            .advantage-image
                                include ../../img/advantages/advantage14.svg
                            .advantage-heading
                                h4 Статистика
                                span Детальніше
                                    include ../../img/icons/angle-right.svg
                .offset-md-1.col-lg-4.col-md-5
                    a(href='#for-partners-loyalty-system').link-partners
                        .advantage
                            .advantage-image
                                include ../../img/advantages/advantage15.svg
                            .advantage-heading
                                h4 Система лояльності
                                span Детальніше
                                    include ../../img/icons/angle-right.svg

    .partners-mobile
        .container
            .row
                .col-12.text-center
                    h3.white Кому
            .row
                .col-6
                    a(href='#section2-3').link-partners.smooth
                        .advantage
                            .advantage-image
                                include ../../img/advantages/advantage10.svg
                            .advantage-heading
                                h4 Екскурсійним і туристичним компаніям
                                span Детальніше
                                    include ../../img/icons/angle-right.svg
                .col-6
                    a(href='#section2-4').link-partners.smooth
                        .advantage
                            .advantage-image
                                include ../../img/advantages/advantage11.svg
                            .advantage-heading
                                h4 Музеям та галереям
                                span Детальніше
                                    include ../../img/icons/angle-right.svg
                .col-6
                    a(href='#section2-5').link-partners.smooth
                        .advantage
                            .advantage-image
                                include ../../img/advantages/advantage12.svg
                            .advantage-heading
                                h4 Івент-компаніям
                                span Детальніше
                                    include ../../img/icons/angle-right.svg
                .col-6
                    a(href='#section2-6').link-partners.smooth
                        .advantage
                            .advantage-image
                                include ../../img/advantages/advantage13.svg
                            .advantage-heading
                                h4 Готелям
                                span Детальніше
                                    include ../../img/icons/angle-right.svg
                .col-6
                    a(href='#section2-7').link-partners.smooth
                        .advantage
                            .advantage-image
                                include ../../img/advantages/advantage14.svg
                            .advantage-heading
                                h4 Статистика
                                span Детальніше
                                    include ../../img/icons/angle-right.svg
                .col-6
                    a(href='#section2-8').link-partners.smooth
                        .advantage
                            .advantage-image
                                include ../../img/advantages/advantage15.svg
                            .advantage-heading
                                h4 Система лояльності
                                span Детальніше
                                    include ../../img/icons/angle-right.svg
