#section2-9.section
    .back-blue
        .container.container-white
            .row.justify-content-center
                .col-md-8.col-lg-4.text-center
                    a(data-fancybox data-src="#modal" href="javascript:;").button.button-choice
                        span Стати Партнером
                    a(href='https://docs.google.com/document/d/1tKR5WxlvJL33jN8hg3mrAzh_C15U7yiT4eUlWLTLOPk/edit' target='_blank' title='').link-text Ознайомитись з офіційними правилами


#section2-10.fp-auto-height.section
    .back-blue
        footer
            .container
                .row
                    .offset-lg-1.col-lg-6.col-md-8
                        h6 Про проект
                        .footer-flex
                            img(src='img/logo/logo2.svg')
                            p Програма лояльності «Турист України» спрямована на популяризацію внутрішнього туризму, вдосконалення якості національного туристичного продукту, розвиток малого, середнього бізнесу та інфраструктури в регіонах.
                    .offset-lg-1.col-lg-3.col-md-4
                        h6 Зворотній зв’язок
                        p Якщо у вас є запитання або побажання, будь ласка, надішліть листа.
                        a(href='mailto:info@touristua.com' title='').button
                            span Написати листа
                    .offset-lg-1.col-lg-7
                        .footer-flex.footer-flex-partners
                            h6 Партнери
                            .footer-flex-partners--partners
                                ul.footer-partners
                                    li
                                        img(src='img/partners/partner1.png')
                                    li
                                        img(src='img/partners/partner5.png')
                                    li
                                        img(src='img/partners/partner2.png')
                                p За сприяння Міністерства економічного розвитку і торгівлі України