#section2-8.section
    .container
        .row
            .col-md-5
                .advantage-mobile.advantage-mobile--desktop
                    img(src='img/illus/Desktop.png').advantage-mobile--phone
                    img(src='img/screenshots/screenshot2-7.png').advantage-mobile--screenshot
                .advantage
                    .advantage-image
                        img(src='img/advantages/advantage15a.svg')
                    .advantage-heading
                        h4 Система лояльності
                p
                    b За кожну покупку і відкриття нового місця в програмі «Турист України» клієнт отримує бали, які дають можливість переміщатися по 4 рівнях лояльності, змінюючи свій статус мандрівника. Збільшуйте продажі та залучайте більше клієнтів, пропонуючи знижки та привілеї для туристів кожного рівня!
    img(src='img/ornaments/ornament6.svg').ornament