#section2-5.section
    .container
        .row
            .col-md-5
                .advantage-mobile.advantage-mobile--desktop
                    img(src='img/illus/Desktop.png').advantage-mobile--phone
                    img(src='img/screenshots/screenshot2-4.png').advantage-mobile--screenshot
                .advantage
                    .advantage-image
                        img(src='img/advantages/advantage12a.svg')
                    .advantage-heading
                        h4 Івент-компаніям
                p
                    b Продавайте квитки на заходи через єдиний майданчик в мобільному додатку та на порталі.

                ul.ul-regular
                    li - Схеми посадочних місць.

                    li - Пряме відшкодування на розрахунковий рахунок.

                    li - Можливість інтеграції з API.
