#section2-4.section
    .container
        .row
            .col-md-5
                .advantage-mobile.advantage-mobile--desktop
                    img(src='img/illus/Desktop.png').advantage-mobile--phone
                    img(src='img/screenshots/screenshot2-3.png').advantage-mobile--screenshot
                .advantage
                    .advantage-image
                        img(src='img/advantages/advantage11a.svg')
                    .advantage-heading
                        h4 Музеям та галереям
                p
                    b Продавайте квитки через мобільний додаток, портал та за допомогою QR-кодів.

                p - Докладна статистика.

                p - Система online покупки і валідації квитків.
    img(src='img/ornaments/ornament5.svg').ornament