#section2-6.section
    .container
        .row
            .col-md-5
                .advantage-mobile.advantage-mobile--desktop
                    img(src='img/illus/Desktop.png').advantage-mobile--phone
                    img(src='img/screenshots/screenshot2-5.png').advantage-mobile--screenshot
                .advantage
                    .advantage-image
                        img(src='img/advantages/advantage13a.svg')
                    .advantage-heading
                        h4 Готелям
                p
                    b Зручна система бронювання з можливістю оплати online, в готелі через pos термінал та за допомогою QR-кодів.

                p - Відстеження бронювань та докладна статистика.
    img(src='img/ornaments/ornament6.svg').ornament