#section2-5.section
    .container
        .row
            .col-xl-4.col-md-5
                .advantage-mobile.advantage-mobile--desktop
                    img(src='img/illus/Desktop.png').advantage-mobile--phone
                    img(src='img/screenshots/screenshot2-4.png').advantage-mobile--screenshot
                .advantage
                    .advantage-image
                        img(src='img/advantages/advantage12a.svg')
                    .advantage-heading
                        h4 Івент-компаніям
                p Продавайте квитки на заходи через єдиний майданчик в мобільному додатку та на порталі.

                p - Схеми посадочних місць.

                p - Пряме відшкодування на розрахунковий рахунок.

                p - Можливість інтеграції з API.
