#section1-1.section.section2-1
    .overflow-first

        include ../partials/_navigation2.pug

        .container-double.container-double-partners
            .container.container-white
                .row
                    .offset-lg-1.col-md-4
                        img(src='img/illus/illus4.svg')
                    .offset-sm-1.offset-md-2.offset-lg-1.col-md-5.col-sm-10
                        h3 Партнерам
                        p Кафе та АЗС, готелі та екскурсійні бюро, аквапарки та галереї - запрошуємо всіх, чий напрямок діяльності належить до сфери обслуговування туристів. Приєднуйтесь до інноваційного проекту сприяння розвитку туризму в нашій країні!
                        a(data-fancybox data-src="#modal" href="javascript:;").button.button-choice Стати Партнером

        .back-green.partners-desktop
            .container
                .row
                    .offset-lg-2.offset-md-1.col-lg-4.col-md-5
                        a(href='#section2').link-partners
                            .advantage
                                .advantage-image
                                    include ../../img/advantages/advantage10.svg
                                .advantage-heading
                                    h4 Екскурсійним і туристичним компаніям
                                    span Детальніше
                                        include ../../img/icons/angle-right.svg
                    .offset-md-1.col-lg-4.col-md-5
                        a(href='#section3').link-partners
                            .advantage
                                .advantage-image
                                    include ../../img/advantages/advantage11.svg
                                .advantage-heading
                                    h4 Музеям та галереям
                                    span Детальніше
                                        include ../../img/icons/angle-right.svg
                    .offset-lg-2.offset-md-1.col-lg-4.col-md-5
                        a(href='#section4').link-partners
                            .advantage
                                .advantage-image
                                    include ../../img/advantages/advantage12.svg
                                .advantage-heading
                                    h4 Івент-компаніям
                                    span Детальніше
                                        include ../../img/icons/angle-right.svg
                    .offset-md-1.col-lg-4.col-md-5
                        a(href='#section5').link-partners
                            .advantage
                                .advantage-image
                                    include ../../img/advantages/advantage13.svg
                                .advantage-heading
                                    h4 Готелям
                                    span Детальніше
                                        include ../../img/icons/angle-right.svg
                    .offset-lg-2.offset-md-1.col-lg-4.col-md-5
                        a(href='#section6').link-partners
                            .advantage
                                .advantage-image
                                    include ../../img/advantages/advantage14.svg
                                .advantage-heading
                                    h4 Статистика
                                    span Детальніше
                                        include ../../img/icons/angle-right.svg
                    .offset-md-1.col-lg-4.col-md-5
                        a(href='#section7').link-partners
                            .advantage
                                .advantage-image
                                    include ../../img/advantages/advantage15.svg
                                .advantage-heading
                                    h4 Система лояльності
                                    span Детальніше
                                        include ../../img/icons/angle-right.svg

        .back-green.partners-mobile
            .container
                .row
                    .col-6
                        a(href='#section2-2').link-partners.smooth
                            .advantage
                                .advantage-image
                                    include ../../img/advantages/advantage10.svg
                                .advantage-heading
                                    h4 Екскурсійним і туристичним компаніям
                                    span Детальніше
                                        include ../../img/icons/angle-right.svg
                    .col-6
                        a(href='#section2-3').link-partners.smooth
                            .advantage
                                .advantage-image
                                    include ../../img/advantages/advantage11.svg
                                .advantage-heading
                                    h4 Музеям та галереям
                                    span Детальніше
                                        include ../../img/icons/angle-right.svg
                    .col-6
                        a(href='#section2-4').link-partners.smooth
                            .advantage
                                .advantage-image
                                    include ../../img/advantages/advantage12.svg
                                .advantage-heading
                                    h4 Івент-компаніям
                                    span Детальніше
                                        include ../../img/icons/angle-right.svg
                    .col-6
                        a(href='#section2-5').link-partners.smooth
                            .advantage
                                .advantage-image
                                    include ../../img/advantages/advantage13.svg
                                .advantage-heading
                                    h4 Готелям
                                    span Детальніше
                                        include ../../img/icons/angle-right.svg
                    .col-6
                        a(href='#section2-6').link-partners.smooth
                            .advantage
                                .advantage-image
                                    include ../../img/advantages/advantage14.svg
                                .advantage-heading
                                    h4 Статистика
                                    span Детальніше
                                        include ../../img/icons/angle-right.svg
                    .col-6
                        a(href='#section2-7').link-partners.smooth
                            .advantage
                                .advantage-image
                                    include ../../img/advantages/advantage15.svg
                                .advantage-heading
                                    h4 Система лояльності
                                    span Детальніше
                                        include ../../img/icons/angle-right.svg
