#section2-6.section
    .container
        .row
            .col-xl-4.col-md-5
                .advantage-mobile.advantage-mobile--desktop
                    img(src='img/illus/Desktop.png').advantage-mobile--phone
                    img(src='img/screenshots/screenshot2-6.png').advantage-mobile--screenshot
                .advantage
                    .advantage-image
                        img(src='img/advantages/advantage14a.svg')
                    .advantage-heading
                        h4 Статистика
                p
                    b Кожен партнер програми отримує доступ до докладної статистики в особистому кабінеті порталу «Турист України». Будьте в курсі усіх процесів, контролюйте якість наданих послуг і відгуки клієнтів в реальному часі.
                h6.h6-section На вас чекає:
                ul.ul-regular
                    li - online статистика продажів;
                    li - система online валідації квитків;
                    li - статистика за відгуками;
                    li - статистика по рекламним комунікаціям;
                    li - воронки продажів;
                    li - опитування.