@import '../../utilities/vars'
@import '../../utilities/mixins'

h1
  font(2.5rem, $yellow, 900, 1.28)
  margin-bottom .3rem
  font-family: $slave-font, sans-serif
  display inline-block
  +mobile()
    font-size: 1.5rem;
    font-weight 700

h2
  font(2.5rem, $white, 900, 1.28)
  margin-bottom .3rem
  font-family: $slave-font, sans-serif
  display inline-block
  +mobile()
    font-size: 1.5rem;
    font-weight 700


h3
  font($s32, $blue, 700, normal)
  margin-bottom 2.813rem
  font-family: $slave-font, sans-serif


h4
  font($s28, $black, 700, 1.61)
  margin-bottom 2.5rem
  font-family: $slave-font, sans-serif
  +mobile()
    font-size 1.25rem

h5
  font($s24, $white, 500, 2.08)
  margin-bottom 1.125rem
  font-family: $slave-font, sans-serif
  +mobile()
    font-size: 1.125em;
    line-height: 1.2;

h6
  font($s20, $blue, 700, normal)
  margin-bottom 45px

  font-family: $slave-font, sans-serif

p
  font(1rem, $darkred, 500, 1.75)
  margin-bottom 1rem

hr
  border: 0;
  height: 2px;
  background: $yellow
  margin $s20 0


.black
  color $black

.white
  color $white

.gray
  color $gray