.choice
  height 510px
  position relative
  z-index 10
  transitions()

  +portrait()
    img
      max-width 500px
  +mobile()
    position static
    height 150px
    margin-top 80px
    img
      width 100%



.choice1
  left -125px

.choice2
  left 20px
  top -25px

.choice.transform
  opacity .6

.choice1.transform
  transform translateX(-220px)

.choice2.transform
  transform translateX(220px)

.choice-description
  position absolute
  max-width 292px
  z-index 30
  top 150px

  opacity 0

  transitions()
  +portrait()
    display none
  p
    color $white
    font-weight: 500;
    line-height: 1.75;
  img
    position absolute
    top 160px

.choice-description1
  right -292px
  img
    left -225px
.choice-description2
  left -194px
  img
    right -125px

.choice-description.active
  opacity 1