.counter
  padding-top 20px
  margin-bottom 82px
  position relative
  img
    margin-bottom 43px
    height 165px
  h4
    margin-bottom $s16
  p
    line-height: 1.88;
    padding-right 20px
    font-family $slave-font, sans-serif
  span
    color $white
    font-size $s24
    font-family $slave-font, sans-serif
    font-weight 600
    line-height: 1.25;
  ul li
    color $white
    line-height: 1.75;
  .white
    margin 0
    line-height 1.75

  .path
    position absolute
    width auto
    height auto

  .path1
    right -100px
    top 120px

  .path2
    left -450px
    top 180px

  .path3
    right -100px
    top 70px

  .path1m, .path2m, .path3m
    display none

  .path1m
    bottom: -180px;
    left: 38px;

  .path2m
    bottom: -270px;
    right: 38px;


  .path3m
    bottom: -180px;
    left: 44px;


  +mobile()
    .path1, .path2, .path3
      display none
    .path1m, .path2m, .path3m
      display block

