.mask
  position fixed
  top 0
  left calc(50% - 505px)
  z-index 2000
  height 100%
  display flex
  justify-content center
  align-items center

  transition 1s all ease
  transform translateY(-150vh)

  +portrait()
    left: calc(50% - 395px)
  +mobile()
    display none

  &-phone
    position absolute
    top calc(50% - 256px)
    left 0
    max-width 340px

  h3
    font-family: $slave-font, sans-serif
    font-size: 2.375rem
    font-weight: bold;
    color: $white
    position absolute
    max-width 360px
    width 100%
    left calc(50% + 402px)
    text-align center

    bottom calc(50% + 170px)

  .button
    position absolute
    width 262px
    left: 422px;

    top calc(50% + 243px)
    &:hover
      span
        background $pink2
        color $white

  .screenshot
    position absolute
    top calc(50% - 187px)
    left 34px
    opacity 0
    z-index 1
    transitions()
    max-width 237px

  .screenshot.visible
    opacity 1
    z-index 2

.mask.visible
  transform none

.mask2
  right calc(50% - 505px)
  left auto
  .mask-desktop
    position absolute
    top: calc(50% - 200px);
    right: -26px;
    max-width 590px
    +tablet()
      right -56px
    +portrait()
      right -106px
  .screenshot
    top: calc(50% - 181px);
    right: -7px;
    left auto
    max-width 550px
    +tablet()
      right -31px
    +portrait()
      right -81px
  h3
    left auto
    right: calc(50% + 610px);
  .button
    right: 814px
    top: calc(50% + 250px);
    left auto
    +tablet()
      right: 710px;
    +portrait()
      right: 590px;
      top: calc(50% + 313px);


.fp-viewing-for-tourists-museums-and-galleries, .fp-viewing-for-partners-excursions, .fp-viewing-for-tourists-event-companies, .fp-viewing-for-partners-hotels, .fp-viewing-for-partners-loyalty-system, .fp-viewing-for-partners-statistics, .fp-viewing-for-tourists-places, .fp-viewing-for-tourists-tours, .fp-viewing-for-tourists-excursions, .fp-viewing-for-tickets-for-tourists-events, .fp-viewing-for-tickets-for-tourists-transport, .fp-viewing-for-tourists-booking, .fp-viewing-for-tourists-entertainment, .fp-viewing-for-tourists-discounts, .fp-viewing-for-tourists-bonuses
  .mask
    transform none




