.mask
  position fixed
  top 0
  left calc(50% - ((1010px / 2)))
  z-index 20000
  height 100%
  display flex
  justify-content center
  align-items center

  transition 1s all ease
  transform translateY(-100vh)

  +portrait()
    left: calc(50% - ((790px / 2)))
  +mobile()
    display none

  &-phone
    position absolute
    top calc(50% - (622px / 2))
    left 0

  h3
    font-family: UA-brand;
    font-size: 2.375rem
    font-weight: bold;
    text-align: center;
    color: $white
    position absolute
    max-width 360px
    width 100%
    left calc(50% + 402px)
    text-align center
    bottom calc(50% + (565px / 2))

  .button
    position absolute
    width 262px
    left: calc(553px - 131px);

    top calc(50% + (465px / 2))
    &:hover
      background $pink2
      color $white

.mask.visible
  transform none

.screenshot
  position absolute
  top calc(50% - (475px / 2))
  left 36px
  opacity 0
  z-index 1
  transitions()

.screenshot.visible
  opacity 1
  z-index 2


