@import '../../utilities/vars'
@import '../../utilities/mixins'

main
  background $white
  transitions()
  +mobile()
    position relative
    z-index 100

.section
  background $yellow2
  position relative
  .container
    position relative
    z-index 2

.container-double
  position relative
  &:after
    pseudo(block, absolute)
    background $yellow2
    bottom 0
    height 396px
    left 0
    right 0
    z-index 1

.container-white
  position relative
  padding-top 219px
  z-index 10
  padding-bottom 109px
  +mobile()
    padding-top 100px
    img
      display none
  .row
    padding-top 106px
    padding-bottom 106px
    background $white
    box-shadow: 0 7px 14px 0 rgba(0, 0, 0, 0.17);
    position relative
    z-index 10
    p
      font-weight: 300;
      line-height: 1.75;
      color $darkred
      margin-bottom 2.938em
    .button
      margin 0
      max-width: 263px
      &:hover
        background $pink2
        color $white

.container-double-partners
  &:after
    background $green
    height 400px
  .container-white
    padding-top 0

    .row
      padding-top 102px
      padding-bottom 102px

.ornament
  position absolute
  z-index 1

#section1-1
  background $blue
  +mobile()
    padding-top 80px

#section1-2
  .ornament
    bottom: -350px;
    right: -70px;

#section1-4
  .ornament
    top: -100px;
    left: 5px;

#section1-5
  .ornament
    bottom: -280px;
    right: 10px;

#section1-7
  .ornament
    bottom: -130px;
    right: 200px;

#section1-9
  .ornament
    top: -170px;
    left: -50px;

#section1-11
  background $green
  h3
    text-align center
    color $white
  .container-double
    padding-top 109px
    margin-bottom 179px
    &:after
      background $yellow2
      top 0
      bottom auto
      height 319px
    .container-white
      padding-top 0
      .row
        padding-top 80px
        padding-bottom 96px
        h3
          color $blue
  .container-double-last
    background $blue
    margin-bottom 83px
    &:after
      background $green
    .container-white
      .row
        padding 140px 0
        .button
          margin 0 auto 44px
          max-width 360px
  .ornament.ornament3
    top: 850px
    left: -180px;
  .ornament.ornament4
    top: 1250px
    right: -150px;
    +mobile()
      top: 1650px

#section1-11.section2-11
  background $blue
  .container-double-last:after
    background $yellow2


#section2-3
  .ornament
    bottom: -260px;
    left: 200px;

#section2-6
  .ornament
    top: -100px;
    right: 80px;

#section2-7
  .ornament
    bottom: 0px;
    right: -100px;


.back-blue
  background $blue

.back-green
  background $green
  padding-top 120px
  padding-bottom 70px