@import '../../utilities/vars'
@import '../../utilities/mixins'

main
  background $white
  transitions()
  +mobile()
    position relative
    z-index 100

.section
  background $yellow2
  position relative
  .container
    position relative
    z-index 2

.container-double
  position relative
  &:after
    pseudo(block, absolute)
    background $yellow2
    bottom 0
    height 396px
    left 0
    right 0
    z-index 1

.container-white
  position relative
  z-index 10
  +mobile()
    padding-top 50px
    img
      display none
  .row
    padding-top 80px
    padding-bottom 80px
    background $white
    box-shadow: 0 7px 14px 0 rgba(0, 0, 0, 0.17);
    position relative
    z-index 10
    +mobile()
      padding-bottom 50px
      padding-top 40px
    p
      font-weight: 300;
      line-height: 1.75;
      color $darkred
      margin-bottom 2.938em
    .button
      margin 0
      max-width: 263px
      &:hover
        span
          background $pink2
          color $white

.container-double-partners
  &:after
    background $green
    height 400px
  .container-white
    padding-top 0

    .row
      padding-top 102px
      padding-bottom 102px

.ornament
  position absolute
  z-index 1


.back-blue
  background $blue

.back-green
  background $green
  //padding-top 120px
  //padding-bottom 70px