include ../utilities/_mixins.pug

doctype html

html

    include ../partials/_head.pug

    body
        include ../partials/_navigation.pug

        include ../sections1/mask

        main#fullpage
            block content

            include ../partials/_footer.pug



