include ../utilities/_mixins.pug

doctype html

html

    include ../partials/_head.pug

    body
        include ../partials/_navigation2.pug

        include ../sections2/mask2

        main#fullpage2
            block content

            include ../partials/_footer2.pug



