//- layouts/layout.pug
extend layouts/_layout.pug

block title
    | "Турист України" - Головна сторінка

block content




    include sections1/section1-1
    include sections1/section1-2
    include sections1/section1-3
    include sections1/section1-4
    include sections1/section1-5
    include sections1/section1-6
    include sections1/section1-7
    include sections1/section1-8
    include sections1/section1-9
    include sections1/section1-10
    include sections1/section1-11
