//- layouts/layout.pug
extend layouts/_layout2.pug

block title
    | "Турист України" - Партнерам

block content


    include sections2/section2-1
    include sections2/section2-2
    include sections2/section2-3
    include sections2/section2-4
    include sections2/section2-5
    include sections2/section2-6
    include sections2/section2-7
    include sections2/section2-8
    include sections2/section2-9

    include partials/_modal
