@import "../../utilities/vars"
@import "../../utilities/mixins"

button
  border none
  cursor pointer
  transitions()
  &:focus
    outline none

.button
  display block
  max-width 290px
  width 100%
  background $trans
  span
    display block
    text-align center
    padding-top 10px
    padding-bottom 11px
    background $white
    color $darkred
    box-shadow: 0 10px 15px 0 rgba(0,111,184,.3)
    font-family $slave-font, sans-serif
    transitions()
  &:hover
    span
      transform: translateY(10px)
      box-shadow: 0 10px 15px 0 rgba(0,111,184,0)
      color $black
      background $yellow

.button-choice
  position relative
  z-index: 20
  margin 0 auto
  max-width: 361px
  span
    font-size $s18
    font-weight 700
    background $pink
    color $white
    padding-top 15px
    padding-bottom 18px


.button-choice.opacity
  span
    background $pink2