@import '../../utilities/vars'
@import '../../utilities/mixins'

ul
  padding 0
  margin 0
  li
    list-style none

ol
  padding 0
  margin 0

.ul-regular
  li
    font-weight: 500
    line-height: 1.5
    color $darkred
    font-family $main-font, sans-serif