.mask
    h3 Переваги

    img(src='img/illus/phone.png').mask-phone

    img(src='img/screenshots/screenshot1-2.png').screenshot.screenshot1-2
    img(src='img/screenshots/screenshot1-3.png').screenshot.screenshot1-3
    img(src='img/screenshots/screenshot1-4.png').screenshot.screenshot1-4
    img(src='img/screenshots/screenshot1-5.png').screenshot.screenshot1-5
    img(src='img/screenshots/screenshot1-6.png').screenshot.screenshot1-6
    img(src='img/screenshots/screenshot1-7.png').screenshot.screenshot1-7
    img(src='img/screenshots/screenshot1-8.png').screenshot.screenshot1-8
    img(src='img/screenshots/screenshot1-9.png').screenshot.screenshot1-9
    img(src='img/screenshots/screenshot1-10.png').screenshot.screenshot1-10

    a(data-fancybox data-src="#modal" href="javascript:;").button.button-choice
        span Стати Туристом