#section1-13.section.fp-auto-height
    .overflow-first

        img(src='img/ornaments/ornament3.svg').ornament.ornament3
        img(src='img/ornaments/ornament4.svg').ornament.ornament4

        .container
            .row
                .col-12
                    h3 Нарахування балів
                .offset-lg-2.col-lg-4.col-md-6
                    .counter
                        img(src='img/path/path1.svg').path.path1
                        img(src='img/counters/counter1.png')
                        h4 Турист
                        p 1 гривенник за кожні витрачені 10 грн Кількість балів для переходу на рівень вище
                            span  2 000 балів
                        hr
                        p.white Задачі Туриста
                        ul
                            li - робити чекіни, фото-чекіни в тому числі
                            li - оцінювати локації за 10 бальною шкалою
                            li - заносити нові локації
                        img(src='img/path/path1m.svg').path.path1m
                .offset-lg-1.col-lg-4.col-md-6
                    .counter
                        img(src='img/path/path2.svg').path.path2
                        img(src='img/counters/counter2.png')
                        h4 Мандрівник
                        p 1,5 гривенники за кожні витрачені 10 грн Кількість балів для переходу на рівень вище
                            span  5 000 балів
                        hr
                        p.white Мандрівник отримує
                        ul
                            li - отримує значок з символікою «Мандрівника»
                            li - додаткові знижки, привілеї та пропозиції від партнерів програми лояльності
                        img(src='img/path/path2m.svg').path.path2m
                .offset-lg-2.col-lg-4.col-md-6
                    .counter
                        img(src='img/path/path3.svg').path.path3
                        img(src='img/counters/counter3.png')
                        h4 VIP Мандрівник
                        p 2 гривенники за кожні витрачені 10 грн Кількість балів для переходу на рівень вище
                            span  20 000 балів
                        hr
                        p.white Що отримує VIP Мандрівник
                        ul
                            li - значок з символікою «VIP Мандрівника»
                            li - додаткові знижки, привілеї та пропозиції від партнерів програми лояльності
                        img(src='img/path/path3m.svg').path.path3m
                .offset-lg-1.col-lg-4.col-md-6
                    .counter
                        img(src='img/counters/counter4.png')
                        h4 Почесний Мандрівник
                        p 2 гривенники за кожні витрачені 10 грн Найвище звання туриста
                            span  ТОП-Рівень
                        hr
                        p.white Що отримує Турист
                        ul
                            li - почесний сертифікат «Турист України»
                            li - значок з символікою «Почесного Мандрівника»
                            li - додаткові знижки, привілеї та пропозиції від партнерів програми лояльності

        .back-blue
            .container-double.container-double-last
                .container.container-white
                    .row.justify-content-center
                        .col-md-8.col-lg-4.text-center
                            a(data-fancybox data-src="#modal" href="javascript:;").button.button-choice
                                span Стати Туристом
                            a(href='').link-text Ознайомитись з офіційними правилами

            footer
                .container
                    .row
                        .offset-lg-1.col-lg-6.col-md-8
                            h6 Про проект
                            .footer-flex
                                img(src='img/logo/logo2.svg')
                                p Програма лояльності «Турист України» спрямована на популяризацію внутрішнього туризму, вдосконалення якості національного туристичного продукту, розвиток малого, середнього бізнесу та інфраструктури в регіонах.
                        .offset-lg-1.col-lg-3.col-md-4
                            h6 Зворотній зв’язок
                            p Якщо у вас є запитання або побажання, будь ласка, надішліть листа.
                            a(href='').button
                                span Написати листа
                        .offset-lg-1.col-lg-7
                            .footer-flex.footer-flex-partners
                                h6 Партнери
                                .footer-flex-partners--partners
                                    ul.footer-partners
                                        li
                                            img(src='img/partners/partner1.png')
                                        li
                                            img(src='img/partners/partner5.png')
                                        li
                                            img(src='img/partners/partner2.png')
                                    p За сприяння Міністерства економічного розвитку і торгівлі України