.section
    .container
        .row
            .offset-md-5.col-md-7
                .advantage-mobile
                    img(src='img/illus/phone.png').advantage-mobile--phone
                    img(src='img/screenshots/screenshot1-8.png').advantage-mobile--screenshot
                .advantage
                    .advantage-image
                        img(src='img/advantages/advantage7.svg')
                    .advantage-heading
                        h4 Розваги
                p Боулінг, квест-кімната, ролердром... чи може аквапарк? Найцікавіші розваги всієї країни в одному додатку! Купуйте квитки та не нудьгуйте ані хвилини.