#section1-2.section

        .container.container-white
            .row
                .col-md-5.offset-lg-2.offset-md-1.offset-sm-1.col-sm-10
                    h3 Туристам
                    p Національна туристична програма лояльності – гра, з якою подорожувати Україною ще цікавіше. Немає різниці, ви живете мандрівками чи досліджуєте виключно вулиці рідного міста, - з мобільним додатком «Турист України» життя перетвориться на неймовірну подорож.
                        br
                        | Долучайтеся!
                    a(data-fancybox data-src="#modal" href="javascript:;").button.button-choice
                        span Стати Туристом
                .col-lg-5.col-md-6
                    img(src='img/illus/illus3.svg')