#section1-1.section

    include ../partials/_navigation.pug

    .container.section-first

        .row

            .col-12
                h1 Турист України
                h2 - Подорожі збагачують!
                h5 Tourist of Ukraine – It's all about U!

            .col-6
                .choice.choice1
                    img(src='img/illus/illus1.png')
                .choice-description.choice-description1
                    p Подорожуйте, насолоджуйтесь, накопичуйте бали та користуйтеся привілеями з мобільним додатком «Турист України»!
                    img(src='img/path/path-c1.svg')

                a(href='#section2').button.button-choice.button-choice1
                    span Туристам

            .col-6
                .choice.choice2
                    img(src='img/illus/illus2.png')
                .choice-description.choice-description2
                    p Програма лояльності «Турист України» шукає партнерів! Понад 17 млн. клієнтів чекають на ваші пропозиції. Долучайтесь!
                    img(src='img/path/path-c2.svg')
                a(href='partners.html').button.button-choice.button-choice2
                    span Партнерам
