#section1-12.section
    .container.container-white
        .row.justify-content-center
            .col-md-8.text-center
                h3 Як це працює
                p Встановіть додаток та зареєструйте картку вашого банку в своєму акаунті. Подорожуйте містами України, накопичуйте бали та отримуйте знижки, розраховуючись карткою в туристичних місцях. Чим більше балів - тим вищий ваш статус Туриста України, тим більше привілеїв та призів від партнерів програми.

