#section1-2b.section


    .partners-desktop
        .container
            .row
                .col-12.text-center
                    h3.white Переваги
            .row.justify-content-end
                .col-md-11
                    .row
                        .col-lg-4.col-md-6
                            a(href='#for-tourists-places').link-partners
                                .advantage
                                    .advantage-image
                                        include ../../img/advantages/advantage1.svg
                                    .advantage-heading
                                        h4 Пам'ятки
                                        span Детальніше
                                            include ../../img/icons/angle-right.svg
                        .col-lg-4.col-md-6
                            a(href='#for-tourists-tours').link-partners
                                .advantage
                                    .advantage-image
                                        include ../../img/advantages/advantage2.svg
                                    .advantage-heading
                                        h4 Тури
                                        span Детальніше
                                            include ../../img/icons/angle-right.svg
                        .col-lg-4.col-md-6
                            a(href='#for-tourists-excursions').link-partners
                                .advantage
                                    .advantage-image
                                        include ../../img/advantages/advantage3.svg
                                    .advantage-heading
                                        h4 Екскурсії
                                        span Детальніше
                                            include ../../img/icons/angle-right.svg
                        .col-lg-4.col-md-6
                            a(href='#for-tourists-tickets-for-events').link-partners
                                .advantage
                                    .advantage-image
                                        include ../../img/advantages/advantage4.svg
                                    .advantage-heading
                                        h4 Квитки на заходи
                                        span Детальніше
                                            include ../../img/icons/angle-right.svg

                        .col-lg-4.col-md-6
                            a(href='#for-tourists-tickets-for-transport').link-partners
                                .advantage
                                    .advantage-image
                                        include ../../img/advantages/advantage5.svg
                                    .advantage-heading
                                        h4 Квитки на транспорт
                                        span Детальніше
                                            include ../../img/icons/angle-right.svg
                        .col-lg-4.col-md-6
                            a(href='#for-tourists-booking').link-partners
                                .advantage
                                    .advantage-image
                                        include ../../img/advantages/advantage6.svg
                                    .advantage-heading
                                        h4 Бронювання готелів
                                        span Детальніше
                                            include ../../img/icons/angle-right.svg
                        .col-lg-4.col-md-6
                            a(href='#for-tourists-entertainment').link-partners
                                .advantage
                                    .advantage-image
                                        include ../../img/advantages/advantage7.svg
                                    .advantage-heading
                                        h4 Розваги
                                        span Детальніше
                                            include ../../img/icons/angle-right.svg
                        .col-lg-4.col-md-6
                            a(href='#for-tourists-discounts').link-partners
                                .advantage
                                    .advantage-image
                                        include ../../img/advantages/advantage8.svg
                                    .advantage-heading
                                        h4 Знижки в кафе / ресторанах
                                        span Детальніше
                                            include ../../img/icons/angle-right.svg
                        .col-lg-4.col-md-6
                            a(href='#for-tourists-bonuses').link-partners
                                .advantage
                                    .advantage-image
                                        include ../../img/advantages/advantage9.svg
                                    .advantage-heading
                                        h4 Бонуси за відвідані місця
                                        span Детальніше
                                            include ../../img/icons/angle-right.svg

    .partners-mobile
        .container
            .row
                .col-12.text-center
                    h3.white Переваги
            .row
                .col-6
                    a(href='#section1-3').link-partners.smooth
                        .advantage
                            .advantage-image
                                include ../../img/advantages/advantage1.svg
                            .advantage-heading
                                h4 Пам'ятки
                                span Детальніше
                                    include ../../img/icons/angle-right.svg
                .col-6
                    a(href='#section1-4').link-partners.smooth
                        .advantage
                            .advantage-image
                                include ../../img/advantages/advantage2.svg
                            .advantage-heading
                                h4 Тури
                                span Детальніше
                                    include ../../img/icons/angle-right.svg
                .col-6
                    a(href='#section1-5').link-partners.smooth
                        .advantage
                            .advantage-image
                                include ../../img/advantages/advantage3.svg
                            .advantage-heading
                                h4 Екскурсії
                                span Детальніше
                                    include ../../img/icons/angle-right.svg
                .col-6
                    a(href='#section1-6').link-partners.smooth
                        .advantage
                            .advantage-image
                                include ../../img/advantages/advantage4.svg
                            .advantage-heading
                                h4 Квитки на заходи
                                span Детальніше
                                    include ../../img/icons/angle-right.svg
                .col-6
                    a(href='#section1-7').link-partners.smooth
                        .advantage
                            .advantage-image
                                include ../../img/advantages/advantage5.svg
                            .advantage-heading
                                h4 Квитки на транспорт
                                span Детальніше
                                    include ../../img/icons/angle-right.svg
                .col-6
                    a(href='#section1-8').link-partners.smooth
                        .advantage
                            .advantage-image
                                include ../../img/advantages/advantage6.svg
                            .advantage-heading
                                h4 Бронювання готелів
                                span Детальніше
                                    include ../../img/icons/angle-right.svg
                .col-6
                    a(href='#section1-9').link-partners.smooth
                        .advantage
                            .advantage-image
                                include ../../img/advantages/advantage7.svg
                            .advantage-heading
                                h4 Розваги
                                span Детальніше
                                    include ../../img/icons/angle-right.svg
                .col-6
                    a(href='#section1-10').link-partners.smooth
                        .advantage
                            .advantage-image
                                include ../../img/advantages/advantage8.svg
                            .advantage-heading
                                h4 Знижки в кафе / ресторанах
                                span Детальніше
                                    include ../../img/icons/angle-right.svg
                .col-6
                    a(href='#section1-11').link-partners.smooth
                        .advantage
                            .advantage-image
                                include ../../img/advantages/advantage9.svg
                            .advantage-heading
                                h4 Бонуси за відвідані місця
                                span Детальніше
                                    include ../../img/icons/angle-right.svg