#section1-5.section
    .container
        .row
            .offset-md-5.col-md-7
                .advantage
                    .advantage-image
                        img(src='img/advantages/advantage4.svg')
                    .advantage-heading
                        h4 Квитки на заходи
                p Унікальна можливість організувати дозвілля з мінімальними витратами сил і часу. Кіно та театр, концерти та фестивалі, спорт та освіта - у додатку «Турист України» завжди актуальна та докладна афіша найцікавіших подій країни.
    img(src='img/ornaments/ornament1.svg').ornament