.section
    .container
        .row
            .offset-5.col-7
                .advantage
                    .advantage-image
                        img(src='img/advantages/advantage5.svg')
                    .advantage-heading
                        h4 Квитки на транспорт (залізничні / авіа / авто / таксі)
                p В додатку «Турист України» є все необхідне для організації будь-якої подорожі. Ви можете купити або забронювати квиток на літак, поїзд, автобус, викликати таксі або взяти на прокат автомобіль.