#section1-4.section
    .container
        .row
            .offset-md-5.col-md-7
                .advantage-mobile
                    img(src='img/illus/phone.png').advantage-mobile--phone
                    img(src='img/screenshots/screenshot1-4.png').advantage-mobile--screenshot
                .advantage
                    .advantage-image
                        img(src='img/advantages/advantage3.svg')
                    .advantage-heading
                        h4 Екскурсії
                p Великий вибір екскурсійних програм різної тематики, тривалості та насиченості - відмінна можливість підшукати варіант для себе.
    img(src='img/ornaments/ornament2.svg').ornament