#section1-2.section
    .container
        .row
            .offset-md-5.col-md-7
                .advantage-mobile
                    img(src='img/illus/phone.png').advantage-mobile--phone
                    img(src='img/screenshots/screenshot1-2.png').advantage-mobile--screenshot
                .advantage
                    .advantage-image
                        img(src='img/advantages/advantage1.svg')
                    .advantage-heading
                        h4 Пам'ятки
                p Що неодмінно слід побачити в Україні? Куди сходити в новому місті? «Турист України» стане вашим надійним гідом по найцікавіших місцях країни! Читайте відгуки, досліджуйте пам`ятки, ставте оцінки - зі зручним функціоналом додатку ви не пропустите жодної цікавинки!
    img(src='img/ornaments/ornament1.svg').ornament