#section1-4.section
    .container
        .row
            .offset-md-5.col-md-7
                .advantage
                    .advantage-image
                        img(src='img/advantages/advantage3.svg')
                    .advantage-heading
                        h4 Екскурсії
                p Великий вибір екскурсійних програм різної тематики, тривалості та насиченості - відмінна можливість підшукати варіант для себе.
    img(src='img/ornaments/ornament2.svg').ornament