.section
    .container
        .row
            .offset-5.col-7
                .advantage
                    .advantage-image
                        img(src='img/advantages/advantage3.svg')
                    .advantage-heading
                        h4 Екскурсії
                p Великий вибір екскурсійних програм різної тематики, тривалості та насиченості - відмінна можливість підшукати варіант для себе.