#section1-9.section
    .container
        .row
            .offset-md-5.col-md-7
                .advantage
                    .advantage-image
                        img(src='img/advantages/advantage8.svg')
                    .advantage-heading
                        h4 Знижки в кафе / ресторанах
                p З «Турист України» кожна подорож - наче гастротур. Замовляйте страви в кафе та ресторанах за спеціальними цінами - спробуйте Україну на смак!
    img(src='img/ornaments/ornament1.svg').ornament