#section1-7.section
    .container
        .row
            .offset-md-5.col-md-7
                .advantage-mobile
                    img(src='img/illus/phone.png').advantage-mobile--phone
                    img(src='img/screenshots/screenshot1-6.png').advantage-mobile--screenshot
                .advantage
                    .advantage-image
                        img(src='img/advantages/advantage5.svg')
                    .advantage-heading
                        h4 Квитки на транспорт (залізничні / авіа / авто / таксі)
                p В додатку «Турист України» є все необхідне для організації будь-якої подорожі. Ви можете купити або забронювати квиток на літак, поїзд, автобус, викликати таксі або взяти на прокат автомобіль.
