#section1-7.section
    .container
        .row
            .offset-md-5.col-md-7
                .advantage-mobile
                    img(src='img/illus/phone.png').advantage-mobile--phone
                    img(src='img/screenshots/screenshot1-7.png').advantage-mobile--screenshot
                .advantage
                    .advantage-image
                        img(src='img/advantages/advantage6.svg')
                    .advantage-heading
                        h4 Бронювання готелів
                p Готель, хостел, апартаменти чи навіть традиційна хата – бронюйте помешкання на свій смак в додатку «Турист України». Тисячі пропозицій по всій країні без жодних комісій.
    img(src='img/ornaments/ornament2.svg').ornament