.section
    .container
        .row
            .offset-5.col-7
                .advantage
                    .advantage-image
                        img(src='img/advantages/advantage9.svg')
                    .advantage-heading
                        h4 Бонуси за відвідані місця
                p Відкривайте нові міста, відвідуйте туристичні місця, щоб накопичити більше балів. Чим більше балів - тим вищий ваш статус Туриста України і тим більше привілеїв від партнерів програми ви отримаєте!