.section#section11
    .container-double
        .container.container-white
            .row.justify-content-center
                .col-8.text-center
                    h3 Як це працює
                    p Встановіть додаток та зареєструйте картку вашого банку в своєму акаунті. Подорожуйте містами України, накопичуйте бали та отримуйте знижки, розраховуючись карткою в туристичних місцях. Чим більше балів - тим вищий ваш статус Туриста України, тим більше привілеїв та призів від партнерів програми.
    .container
        .row
            .col-12
                h3 Нарахування балів
            .offset-2.col-4
                .counter
                    img(src='img/path/path1.svg').path.path1
                    img(src='img/counters/counter1.png')
                    h4 Турист
                    p 1 гривенник за кожні витрачені 10 грн Кількість балів для переходу на рівень вище
                        span  2 000 балів
                    hr
                    p.white Задачі Туриста
                    ul
                        li - робити чекіни, фото-чекіни в тому числі
                        li - оцінювати локації за 10 бальною шкалою
                        li - заносити нові локації
            .offset-1.col-4
                .counter
                    img(src='img/path/path2.svg').path.path2
                    img(src='img/counters/counter2.png')
                    h4 Мандрівник
                    p 1,5 гривенники за кожні витрачені 10 грн Кількість балів для переходу на рівень вище
                        span  5 000 балів
                    hr
                    p.white Мандрівник отримує
                    ul
                        li - отримує значок з символікою «Мандрівника»
                        li - додаткові знижки, привілеї та пропозиції від партнерів програми лояльності
            .offset-2.col-4
                .counter
                    img(src='img/path/path3.svg').path.path3
                    img(src='img/counters/counter3.png')
                    h4 VIP Мандрівник
                    p 2 гривенники за кожні витрачені 10 грн Кількість балів для переходу на рівень вище
                        span  20 000 балів
                    hr
                    p.white Що отримує VIP Мандрівник
                    ul
                        li - значок з символікою «VIP Мандрівника»
                        li - додаткові знижки, привілеї та пропозиції від партнерів програми лояльності
            .offset-1.col-4
                .counter
                    img(src='img/counters/counter4.png')
                    h4 Почесний Мандрівник
                    p 2 гривенники за кожні витрачені 10 грн Найвище звання туриста
                        span  ТОП-Рівень
                    hr
                    p.white Що отримує Турист
                    ul
                        li - почесний сертифікат «Турист України»
                        li - значок з символікою «Почесного Мандрівника»
                        li - додаткові знижки, привілеї та пропозиції від партнерів програми лояльності

    .back-blue
        .container-double.container-double-last
            .container.container-white
                .row.justify-content-center
                    .col-4.text-center
                        a(href='').button.button-choice Стати Туристом
                        a(href='').link-text Ознайомитись з офіційними правилами

        footer
            .container
                .row
                    .offset-1.col-6
                        h6 Про проект
                        .footer-flex
                            img(src='img/logo/logo2.svg')
                            p Програма лояльності «Турист України» спрямована на популяризацію внутрішнього туризму, вдосконалення якості національного туристичного продукту, розвиток малого, середнього бізнесу та інфраструктури в регіонах.
                    .offset-1.col-3
                        h6 Зворотній зв’язок
                        p Якщо у вас є запитання або побажання, будь ласка, надішліть листа.
                        a(href='').button Написати листа
                    .offset-1.col-7
                        .footer-flex.footer-flex-partners
                            h6 Партнери
                            .footer-flex-partners--partners
                                ul.footer-partners
                                    li
                                        img(src='img/partners/partner1.png')
                                    li
                                        img(src='img/partners/partner5.png')
                                    li
                                        img(src='img/partners/partner2.png')
                                p За сприяння Міністерства економічного розвитку і торгівлі України
                //.row
                    .col-6
                    .col-6
                        a(href='//volta.one' title='Volta Agency' target='_blank').volta
                            span.volta--text created by
                            span.volta--visible
                                svg(width='62px', height='14px', viewbox='0 0 62 14', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
                                    g(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
                                        g(transform='translate(-1094.000000, -1241.000000)', fill='#BEBEBE')
                                            g(transform='translate(1039.000000, 1231.000000)')
                                                path(d='M62.1892131,23.9940327 L55,10.1499281 L56.8999904,10.1499281 C58.1240656,12.5823432 59.7373491,15.7733497 60.8916044,17.995418 C61.7041882,19.5610848 62.2679461,20.7918376 62.2679461,20.7918376 C62.2679461,20.7918376 62.8465593,19.5312483 63.6777123,17.9305237 C64.8297393,15.7114391 66.4244537,12.5584741 67.6359019,10.1499281 L69.5351495,10.1499281 L62.3444508,23.9977623 L62.1892131,23.9940327 Z M76.8781148,11.4604934 C73.9078014,11.4604934 71.4997604,13.9413927 71.4997604,17.0011189 C71.4997604,20.0615909 73.9078014,22.5417444 76.8781148,22.5417444 C79.8484282,22.5417444 82.2564692,20.0615909 82.2564692,17.0011189 C82.2564692,13.9413927 79.8484282,11.4604934 76.8781148,11.4604934 L76.8781148,11.4604934 Z M76.8781148,24 C73.024655,24 69.9005894,20.8664287 69.9005894,17.0011189 C69.9005894,13.135809 73.024655,10.0022377 76.8781148,10.0022377 C80.7315747,10.0022377 83.8556402,13.135809 83.8556402,17.0011189 C83.8556402,20.8664287 80.7315747,24 76.8781148,24 L76.8781148,24 Z M93.1869849,23.8545474 L86.3632116,23.8545474 L86.3632116,10.1484363 L87.9601543,10.1484363 L87.9601543,22.2500932 L93.1869849,22.2500932 L93.1869849,23.8545474 Z M98.4138154,11.7521445 L93.1869849,11.7521445 L93.1869849,10.1484363 L100.011501,10.1484363 L100.011501,23.8545474 L98.4138154,23.8545474 L98.4138154,11.7521445 Z M104.003858,11.7521445 C103.562656,11.7521445 103.205386,11.3926155 103.205386,10.9502904 C103.205386,10.5072194 103.562656,10.1484363 104.003858,10.1484363 C104.445059,10.1484363 104.802329,10.5072194 104.802329,10.9502904 C104.802329,11.3926155 104.445059,11.7521445 104.003858,11.7521445 L104.003858,11.7521445 Z M115.099267,23.8515637 C113.875934,21.4184027 112.262651,18.2266503 111.108396,16.0038361 C110.295069,14.4381693 109.732054,13.2074165 109.732054,13.2074165 C109.732054,13.2074165 109.153441,14.4680058 108.322288,16.0687304 C107.169518,18.2885609 105.575546,21.4422718 104.364098,23.8515637 L102.464108,23.8515637 L109.655549,10 L109.810787,10.0037296 L117,23.8515637 L115.099267,23.8515637 Z')
                            span.volta--hidden
                                svg(width='62px', height='14px', viewbox='0 0 62 14', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
                                    g(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
                                        g(transform='translate(-1094.000000, -1241.000000)', fill='#BEBEBE')
                                            g(transform='translate(1039.000000, 1231.000000)')
                                                path(d='M62.1892131,23.9940327 L55,10.1499281 L56.8999904,10.1499281 C58.1240656,12.5823432 59.7373491,15.7733497 60.8916044,17.995418 C61.7041882,19.5610848 62.2679461,20.7918376 62.2679461,20.7918376 C62.2679461,20.7918376 62.8465593,19.5312483 63.6777123,17.9305237 C64.8297393,15.7114391 66.4244537,12.5584741 67.6359019,10.1499281 L69.5351495,10.1499281 L62.3444508,23.9977623 L62.1892131,23.9940327 Z M76.8781148,11.4604934 C73.9078014,11.4604934 71.4997604,13.9413927 71.4997604,17.0011189 C71.4997604,20.0615909 73.9078014,22.5417444 76.8781148,22.5417444 C79.8484282,22.5417444 82.2564692,20.0615909 82.2564692,17.0011189 C82.2564692,13.9413927 79.8484282,11.4604934 76.8781148,11.4604934 L76.8781148,11.4604934 Z M76.8781148,24 C73.024655,24 69.9005894,20.8664287 69.9005894,17.0011189 C69.9005894,13.135809 73.024655,10.0022377 76.8781148,10.0022377 C80.7315747,10.0022377 83.8556402,13.135809 83.8556402,17.0011189 C83.8556402,20.8664287 80.7315747,24 76.8781148,24 L76.8781148,24 Z M93.1869849,23.8545474 L86.3632116,23.8545474 L86.3632116,10.1484363 L87.9601543,10.1484363 L87.9601543,22.2500932 L93.1869849,22.2500932 L93.1869849,23.8545474 Z M98.4138154,11.7521445 L93.1869849,11.7521445 L93.1869849,10.1484363 L100.011501,10.1484363 L100.011501,23.8545474 L98.4138154,23.8545474 L98.4138154,11.7521445 Z M104.003858,11.7521445 C103.562656,11.7521445 103.205386,11.3926155 103.205386,10.9502904 C103.205386,10.5072194 103.562656,10.1484363 104.003858,10.1484363 C104.445059,10.1484363 104.802329,10.5072194 104.802329,10.9502904 C104.802329,11.3926155 104.445059,11.7521445 104.003858,11.7521445 L104.003858,11.7521445 Z M115.099267,23.8515637 C113.875934,21.4184027 112.262651,18.2266503 111.108396,16.0038361 C110.295069,14.4381693 109.732054,13.2074165 109.732054,13.2074165 C109.732054,13.2074165 109.153441,14.4680058 108.322288,16.0687304 C107.169518,18.2885609 105.575546,21.4422718 104.364098,23.8515637 L102.464108,23.8515637 L109.655549,10 L109.810787,10.0037296 L117,23.8515637 L115.099267,23.8515637 Z')


