.section
    .container
        .row
            .offset-5.col-7
                .advantage
                    .advantage-image
                        img(src='img/advantages/advantage2.svg')
                    .advantage-heading
                        h4 Тури
                p Купуйте тури від найкращих українських операторів у додатку «Турист України». Обирайте напрямки, порівнюйте ціни та готуйтесь до незабутньої подорожі!